.contentPage{
    margin-top: 165px;
}


.contentSec h1{
 font-size: 30px;
 font-weight: 500;
 line-height: 1.5em
}

.contentSec .contentBlock{
    display: inline-block;
    width:100%;
}

.contentSec .contentBlock h3{
    font-size: 18px;
    line-height: 1.5em;
    font-weight: 500;
}

.contentSec .contentBlock p{
    font-size: 14px;
    color: #737583;
    font-weight: 400;
    margin-bottom:15px; 
}