.exploreWorld{
    margin-top:165px;
}

.forsrvices .chfBoxOne{
    max-width: 348px;
}

.forsrvices .chfBoxOne .img {
    height: 192px;
}

.chefEplre {
    display: block;
    width: 100%;
    float: left;
    border-bottom: solid 1px #e4e4e5;
    padding-bottom: 5px;
    margin-bottom: 5px;
}
.chefEplre h1{
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 10px;
}

.chefEplre ul li{
    display: inline-block;
    min-width: 65px;
    margin-right: 8px;
}

.chefEplre ul li a{
    display: block;
    color: #737583;
    font-weight: 400;
    font-size: 14px;
    line-height: 2.5em;
}


.chefEplre ul li a span.icon{
    margin:11px 0 0 8px;
    font-weight: 400;
    font-size: 12px;
}

.chefEplre .mapLink{
    display: block;
    width: 120px;
    border: solid 1px #ef4542;
    color: #ef4542;
    text-align: center;
    border-radius: 4px;
    font-size: 14px;
    line-height: 2.5em;
    font-weight: 600;
    background: url(../images/loc-red.png) no-repeat center left 7px;
    padding-left: 16px;
}