.exploreWorld{
    margin-top:165px;
}


.chefEplre {
    display: block;
    width: 100%;
    float: left;
    border-bottom: solid 1px #e4e4e5;
    padding-bottom: 5px;
    margin-bottom: 5px;
}
.chefEplre h1{
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 10px;
}
.chefEplre h1+a{
    font-weight: 500;
}

.tpfltr {
    display: inline-block;
    width: 100%;
    border: solid 1px #ccc;
    border-radius: 2px;
    border-right: none
}

.tpfltr .tpfltrBlk {
    float: left;
    width: 22%;
    display: block;
    padding: 12px;
    height: 53px;
}

.tpfltr .tpfltrBlk .input{
    display: block;
    width: 100%;
    border:none;
    border-right: solid 1px #ccc;
    height: 30px;
}
.tpfltr .tpfltrBlk .input{
    padding-left:24px; 
}
.tpfltr .tpfltrBlk .input:focus{
    outline: none;
}
.tpfltr .tpfltrBlk.location input{
    background:url("../images/loc-doted.png") no-repeat left center;
}

.tpfltr .tpfltrBlk.clndr input{
    background:url("../images/calander-dated.png") no-repeat left center;
}

.tpfltr .tpfltrBlk.guest input{
    background:url("../images/guest.png") no-repeat left  top 4px;
    border-right: none;
}

.tpfltr .tpfltrsrch input[type="submit"]{
    float: left;
    width:12%;
    height: 53px;
    border-radius: 0 2px 2px 0;
    border: none;
    background: #ef4643 url(../images/mgfglass.png) no-repeat center left 12px;
    color: #fff;
    font: 500 16px/2em 'Poppins', sans-serif;
    padding-left: 25px;
    cursor: pointer;
}

.viewBox, .sortBy{
    display:inline-block;
    width: 100%;
    margin-top: 17px;
}

.viewBox a,
.sortList a{
    display: inline-block;
    border-radius: 3px;
    font:400 14px/2.5em 'Poppins', sans-serif;
    color: #737583;
    background:#e4e4e1;
    text-align: center;
    margin-right: 5px;
}

.viewBox a{
    width: 100px;
}

.viewBox a.active,
.sortList a.active{
    background: #f69022;
    color: #fff;
}

.filterBlock{
    display: block;
    width:100%;
    float: left;
    clear: both;
    margin: 8px 0;
    border-bottom: solid 1px #ccc;
    padding-bottom: 15px;
}

.filterBlock .FilterTitle{
    font:500 15px/2.5em 'Poppins', sans-serif;
}
.clearBtn{
    background: none;
    border:none;
    font-size: 14px;
    line-height: 2.5em;
    cursor: pointer;
}
.mapImg {
    display: inline-block;
    border-radius: 4px;
    overflow: hidden;
    max-width: 243px;
    max-height: 119px;
}

.filterList {
    clear: both;
    width: 100%;
}

.filterList ul li.listChk {
    position: relative;
    display: block;
    width: 100%;
    float: left;
    margin-bottom: 5px;
    color: #555;
    padding-left:20px; 
}
.filterList ul li.listChk label{
    font-weight: 500;
    line-height: 20px;
    font-size:14px;
    color:#54565e;
    cursor: pointer;
    margin-bottom:0; 
}
.filterList ul li.listChk label span{
    font-size: 12px;
}
.filterBlock ul li.listChk input[type=checkbox] {
    display: none;
}
.filterList ul li.listChk label::before {
    content: '';
    width: 15px;
    height: 15px;
    cursor: pointer;
    position: absolute;
    left: 0px;
    top: 2px;
    border: solid 1px #bcbcbc;
    margin-bottom: 0;
    background: #eee;
    border-radius: 2px;
    
}

.filterList ul li.listChk label::after {
    content: '';
    width: 10px;
    height: 5px;
    position: absolute;
    top: 6px;
    left: 3px;
    border: 2px solid #000000;
    border-top: none;
    border-right: none;
    background: transparent;
    opacity: 0;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    z-index: 2;
}

.filterList ul li.listChk input[type=checkbox]:checked + label:after {
    opacity: 1;
}

.priceBox {
    display: inline-block;
    text-align: center;
    width: 100%;
    margin-top: 8px;
    max-width: 250px;
}

.ui-slider {
    clear: both;
    height: 3px;
    background: #d2d2d2;
    position: relative;
    max-width: 225px;
}

.ui-slider-range {
    background: #e9371b;
    position: absolute;
    height: 3px;
}

.ui-slider-handle {
    background: #fff;
    border: solid 2px #e9371b;
    border-radius: 50%;
    position: absolute;
    height: 17px;
    width: 17px;
    top:-8px;
    left: 0px;
}

.priceBox  input#amount {
    border: none;
    font-size: 14px;
    color: #54565e;
    float: left;
    width: 100%;
    margin-bottom: 10px;
}
.sortList {
    display: block;
    margin-bottom: 15px;
}
.sortList ul li{
    display: inline-block;
}
.sortList a{
    padding: 0 8px;
}

.sortTitle{
    font-size: 15px;
    line-height: 2.5em;
    display: block;
    margin-right: 10px;
    font-weight: 500;
}


.flterDataBox{
    display: inline-block;
    width:100%;
    border:solid 1px #cdcfd9;
    padding:11px;
    margin:0 0 15px;
}

.imgBox{
    float: left;
    width: 210px;
    display:block;
    margin-right: 10px;
}
.imgBox .fullWdth{
    width: 100%;
    max-width: 210px;
    border-radius: 4px;
    height: 125px;
    overflow: hidden;
    margin-bottom: 10px;
}

.imgBox img{
    max-width: 100%;
}

.imgBox .smlwdth{
    display: inline-block;
    width:66px;
    height: 66px;
    overflow: hidden;
    border-radius: 3px;
    margin-right: 2px;
    position: relative;
}

.imgBox .smlwdth .shadowBox{
    position: absolute;
    width:66px;
    height: 66px;
    top:0;
    left: 0;
    background: rgba(0, 0, 0,0.5);
}

.imgBox .smlwdth .shadowBox a{
    display: block;
    font-size: 14px;
    line-height: 15px;
    color: #fff;
    padding: 17px 0 0;
}


.KtchnDetaisl {
    width: 410px;
}

.chfImg {
    display: table;
    height: 121px;
    width: 85px;
    float: left;
}

.chfImg .img {
    width: 80px;
    height: 80px;
    display: table-cell;
    vertical-align: bottom;
    border-radius: 50%;
    position: relative;
}

.chfImg .img img{
    max-width: 100%;
}

.chfImg .img::before {
    content: '';
    position: absolute;
    top: 0px;
    left: 5px;
    right: 0;
    width: 66px;
    height: 40px;
    background: url(../images/chf-cap.png) no-repeat center center/contain;
}

.Kitchn {
    float: left;
    margin-left: 5px;
    max-width: 310px;;
}

.Kitchn h3 {
    margin-bottom: 0;
    font-size: 22px;
    font-weight: 500;
    position: relative;
}
.Kitchn h3.wishListed::after {
    content: '';
    background: url("../images/red-heart.png") no-repeat right center
    ; 
}

.Kitchn .ktchLoc {
    font-size: 14px;
    font-weight: 400;
    line-height: 1.5em;
    border-right: solid 1px #ccc;
}

.Kitchn .ktchLoc span {
    margin-right: 8px;
}

.ktchnUsrName {
    margin-left: 0px;
    font-size: 13px;
}

.reactions {
    display: block;
    margin: 15px 0;
    float: left;
    width: 100%;
}

.reactions .reactionBox {
    float: left;
    width: 70px;
    border: solid 1px #cdcfd9;
    font-size: 14px;
    line-height: 2em;
    margin-right: 5px;
}

.reactions .reactionBox .imogy {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    overflow: hidden;
    margin: 1px 5px 0;
}

.reactions .reactionBox .imogy.yummy {
    background: url('../images/yummy.png') no-repeat center center/contain;
}
.reactions .reactionBox .imogy.avg {
    background: url('../images/avg.png') no-repeat center center/contain;
}

.reactions .reactionBox .imogy.bad {
    background: url('../images/bad.png') no-repeat center center/contain;
}
.reactions .reactionBox .imogy.bkmark {
    background: url('../images/bkmark.png') no-repeat center center/contain;
}
.reactions .reactionBox .counts {
    margin-left: 3px;
}

.lcCat {
    clear: both;
    float: left;
    margin-top: 10px;
}
.Kitchn .ktchLoc {
    font-size: 14px;
    font-weight: 400;
    line-height: 1.5em;
    border-right: solid 1px #ccc;
}

.ktchLoc.itmcusine, .ktchLoc.itmprice {
    height: 25px;
    line-height: 1.8em;
}

.ktchLoc.itmcusine {
    border-right: none !important;
}

.srvcType {
    clear: both;
    float: left;
    width: 100%;
    margin-top: 8px;
}

.srvcType span {
    margin-right: 8px;
}


.rvwSec {
    padding-top: 10px;
    min-height: 170px;
    border-left: solid 1px #ccc;
    display: block;
    width: 168px;
    text-align: center;
}
.rvwSec  .reviewsBox .rateScore {
    width: 38px;
    height: 38px;
    text-align: center;
    border-radius: 50%;
    border: solid 1px #12131d;
    color: #12131d;
    font-size: 16px;
    line-height: 2.4em;
    display: block;
    margin: 0 auto;
}
.ratingBox {
    margin-top: 5px;
    display: block;
    float: left;
    clear: both;
    width: 100%;
    text-align: center;
}
.ratingBox ul {
    display: inline-table;
}
.rating { 
    border: none;
    float: left;
  }
  
  .rating > input { display: none; } 
  .rating > label:before { 
    margin: 2px;
    font-size: 1.60em;
    font-family: FontAwesome;
    display: inline-block;
    content: "\f005";
  }
  
  .rating > .half:before { 
    content: "\f089";
    position: absolute;
  }
  
  .rating > label { 
    color: #ddd; 
   float: right; 
   margin-bottom: 0;
  }
  
  .star p{
      font-weight: 500;
  }
  /***** CSS Magic to Highlight Stars on Hover *****/
  
  .rating > input:checked ~ label, /* show gold star when clicked */
  .rating:not(:checked) > label:hover, /* hover current star */
  .rating:not(:checked) > label:hover ~ label { color: #f75847;  } /* hover previous stars in list */
  
  .rating > input:checked + label:hover, /* hover current star when changing rating */
  .rating > input:checked ~ label:hover,
  .rating > label:hover ~ input:checked ~ label, /* lighten current selection */
  .rating > input:checked ~ label:hover ~ label { color: #f75847;  } 


  .rating:not(:checked) > label:hover,
  .rating:not(:checked) > label:hover ~ label{ color: #ddd;  }
  

  /*-----------------------MENU VIEW BOX SECTION----------------------*/

  .menuViewBox{
    width: 100%;
    clear: both;
    float: left;
    display: block;
    margin-top:15px; 
  }
  .menuViewBox .nav-tabs .nav-link {
    border: 1px solid transparent;
    border-top-right-radius: .25rem;
    border-top-left-radius: .25rem;
    background: #f1f1f1;
    border-color: #fff #fff #ddd;
    color: #737583;
}

.menuViewBox .nav-tabs .nav-link.active {
    border: 1px solid transparent;
    border-top-right-radius: .25rem;
    border-top-left-radius: .25rem;
    background: #fff;
    border-color: #ddd #ddd #fff;
    color:#ef4542;
}


  .menuViewBox .owl-carousel {
    display: block;
    clear: both;
    overflow: hidden;
    height: 372px;
}


.menuViewBox .owl-carousel .menuItmsec {
    display: block;
    border: solid 1px #cdcfd9;
    max-height: 369px;
    overflow-y: auto;
    padding: 8px 0;
    margin-bottom: 15px;
}

.menuViewBox .owl-carousel .menuItmsec:hover {
    border: solid 1px #f75847;
}


.menuViewBox .owl-carousel .owl-nav .owl-prev:hover, .menuViewBox .owl-carousel .owl-nav .owl-prev {
    float: left;
    background: url(../images/arrow-squar-left.png) no-repeat 0px 0px;
    margin-top: 0px;
    width: 46px;
    height: 46px;
    position: absolute;
    text-indent: -9999px;
}
.menuViewBox .owl-carousel .owl-nav .owl-next:hover, .menuViewBox .owl-carousel .owl-nav .owl-next {
    float: right;
    background: url(../images/arrow-squar-right.png) no-repeat 0px 0px;
    margin-top: 0px;
    width: 46px;
    height: 46px;
    position: absolute;
    text-indent: -9999px;
    right: -3px;
}
.menuViewBox .itmbox {
    border-bottom: solid 1px #ccc;
    margin-bottom: 10px;
    text-align: center;
}

.menuViewBox .itmName a {
    font-size: 17px;
    color: #12131d;
}

.menuViewBox .owl-carousel .menuItmsec:hover .itmName a{
    color:#f75847;
}
