

.hostLogin{
    margin-top:150px;
}

.hostLogin .usersign{
    float: none;
    margin:25px auto 0;
}

.hostLogin .tabContent {
    min-height: 450px;
}
.hostLogin .usersign ul li{
    max-width: 150px;
}
.hostLogin .usersign ul li a{
    text-align: left;
    padding-left:72px !important; 
}

.hostLogin .usersign ul.tabNav li:first-child {
    border-right: none;
}

.hostLogin .usersign ul li a.active{
    border:solid 1px #cdcfd9;
    border-bottom: none;
}

@media(max-width:1024px){
    .hostLogin .usersign{
        width:100%;
        max-width: 480px;
    }
    .hostLogin .usersign ul li{
        width:70px;
    }
    .hostLogin .usersign ul li:nth-child(1) a, 
    .hostLogin .usersign ul li:nth-child(1) a.active{
        border:none;
        border-right:solid 1px #cdcfd9;
        
    }

    .hostLogin .usersign ul li a.active{
       border:none;
    }
}

@media(max-width:767px){
    .hostLogin {
        margin-top: 75px;
    }
}