


/*for header on large screec*/
.mykitchenPage {margin-top: 170px;}


.calanderRightSide {max-width: 600px; margin:0px 0px 40px 30px;}
.calanderSection {}
.calanderNavBlock {display: inline-block;width: 100%; margin: 0px 0px 20px 0px;}
.calanderHeading {font-size: 18px; display: inline-block;}
.calanderControls {display: inline-block; vertical-align: middle; height: 24px; margin-left: 10px; /*position: relative; z-index: 1001;*/}
.calanderControls span {background: url(../images/calander-icon.png) no-repeat 5px 4px; display: inline-block; width: 24px; height: 24px; 
    margin: 0px 5px; cursor: pointer;}
.calanderControls span.prev {transform: rotate(180deg); background-position: 7px 5px;}
.calanderBlock {display: inline-block;width: 100%; margin: 0px 0px 20px 0px;}

.calanderTable {width: 100%;border-collapse: separate; border-spacing: 2px; background: #fff;}
.calanderTable td, .calanderTable th {padding: 10px 15px;font-size: 18px; font-weight: normal; width: 14.28%; position: relative;}
.calanderTable td {text-align: right; vertical-align: top; height: 70px;}
.calanderTable th {background: #5b6a7c; color: #fff;}
.calanderTable .defoult {background: #f6f4f4; cursor: pointer;}
.calanderTable .avelabel {background: #e6e3e3;}
.calanderTable .notAve { background: #f6f4f4; }
.calanderTable .notAve .date {text-decoration: line-through;color: #a5a5a5;}
.calanderTable .date {display: inline-block; margin: 5px 5px 0px 0px;}
.calanderTable .currentDate {/*background: #ccefc9;*/ font-weight: bold; color: green;}
.calanderTable .select {}
.calanderTable .select:before {content: ""; position: absolute; left: 5px; top: 5px; height: 24px; width: 24px;
	background: url(../images/td-icons.png) no-repeat 0px 0px;}

.calanderTable .booking:after {content: ""; width: 6px; height: 6px; background: red;border-radius: 50%;
	position: absolute; bottom: 12px; left: 12px;}


.calanderButtonsSection {display: inline-block; width: 100%; margin: 20px 0px;}
.btnSection .btn {transition:none;}
.btnSection .btn:focus {outline: none; box-shadow: none;}
.btnSection .linkbtn {color: #ef4542; text-decoration: underline; margin-right: 50px; outline: none;}
.btnSection .notAve {color: #ef4542; border:solid 1px #ef4542; border-radius: 5px; background: #fff; text-decoration: none;
    margin-right: 30px; }
.btnSection .notAve:hover {background: #ef4542;color: #fff;}
.btnSection .ave {color: #fff; border:solid 1px #ef4542; border-radius: 5px; background: #ef4542; text-decoration: none; }
.btnSection .ave:hover {background: #ac1815; border-color: #ac1815;}



.leftNav{display: block;width:100%;float: left;}
.leftNav ul li a {display: block;width:100%;background: #f6f4f4;color: #737583;font-size: 15px;line-height: 3em;
    position: relative; border-bottom:solid 1px #fff;padding: 0 0 0 42px;height: 45px;font-weight: 500;}
.leftNav ul li:hover a, .leftNav ul li.active a {background: #ef4542;color: #fff;}
.leftNav ul li a:before{position: absolute;left:5px;top:8px;width: 32px;height:29px;content: "";
            background: url("../images/leftNavIcon.png") no-repeat -2px -2px;}
.leftNav ul li:hover a:before, .leftNav ul li.active a:before {background-position: -2px -46px;}

.manageTimeAvalablety h3 {font-size: 18px; margin: 0px 0px 20px 0px;}
.timeInputBlock {display: inline-block; width: 100%;}



.mangeTimeBlock {padding: 20px 0px;}
.manageTimeAvalablety .grayBg {background: #f6f4f4; padding: 16px; min-height: 200px;}
.timeSelectRow {display: inline-block; width: 100%; margin: 0px 0px 20px 0px;}
.timeSelectRow .timeSelect {display:inline-block; width: 45%;}
.timeSelectRow .timeSelect:first-child {margin-right: 8%;}
.timeSelect select {border: solid 1px #ccc; padding: 6px 7px; width: 100%;}
.timeManButtons {display: inline-block; width: 100%; margin: 0px 0px 20px 0px;}
.timeManButtons .btn {margin-right: 0px;}
.timeManButtons .linkbtn  {margin-right: 20px;}

.timeOutRow {display: inline-block; width: 100%; margin: 0px 0px 10px 0px; border:solid 1px #ccc;}
.timeOutRow .timeOut {display:inline-block; width: 40%; background: #fff; padding: 6px; float: left;}
.timeOutRow .timeOut:first-child {border-right: solid 1px #ccc; width: 60%;}




.mangeBookingHeading {border-bottom: solid 1px #ccc; margin: 40px 0px 20px 0px; display: inline-block; width: 100%;}
.mangeBookingHeading h3 {font-size: 20px;}
.mangeBookingHeading p {margin-bottom: 15px;}

.mangeBookingBlock {display: inline-block; width: 100%; position: relative;}
.orderTab {margin-bottom: 20px;}
.orderTabNav {padding: 5px 0px 0px 10px; margin: 0px; list-style: none; background: #f6f4f4;}
.orderTabNav li {display: inline-block; margin:0px 0px 0px 5px;}
.orderTabNav li span {padding: 5px 15px; display: inline-block; background: #e6e3e3; color: #333; cursor: pointer;}
.orderTabNav li.active span {background: #fff; color: #333;}
.orderContentBlock {display: none;}
.orderContentBlock.active {display: block;}

.bookingSlideBg {background: #f6f4f4; padding: 15px; }
.orderBlockHeading {margin-bottom: 20px;}
.orderBlockHeading h4 {font-size: 18px; margin: 0px 0px 5px 0px;}
.orderBlockHeading p {margin: 0px 0px 10px 0px;}
.bookingSlide .guestTitle {font-size: 18px; margin: 0px 0px 20px 0px;}
.bookingSlide .guestTextBlock {margin-bottom: 20px;}
.bookingSlide strong {font-weight: 600;}


@media (max-width: 767px) {
    .calanderRightSide {margin: 0px 0px 20px 0px;}
     .calanderTable td, .calanderTable th {padding: 5px 3px;font-size: 14px; height: auto;}
     .calanderTable td {text-align: center;}

     .calanderButtonsSection .btn {margin: 0px 2px 10px 0px;}
}