img{
    max-width: 100%;
}
.wordWrap {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: block;
}
.messagesPage{
    margin-top:165px;
}

.usrName {
    width: 250px;
}

.usrName .img,
.chatBlock .img{
    width:70px;
    height: 70px;
    border-radius: 50%;
    display: block;
    float: left;
}
.usrName .NmeDetail,
.chatBlock .chatUsrDetail{
    float: left;
    display: block;
    margin-left: 10px;
    padding: 12px 0 0 0;
}

.usrName .NmeDetail span,
.chatBlock .chatUsrDetail span{
    display: block;
    width:100%;
    font-size: 14px;
    line-height: 1.5em;
    font-weight: 500;
}

.chatOptions ul li{
    display: table;
    float:left;
    text-align: center;
    position: relative;
    padding: 8px 0;
    height: 70px;
    width: 120px;
    background: #f6f4f4;
    border-right: solid 2px #fff;
    cursor: pointer;
}

.chatOptions ul li:hover, 
.chatOptions ul li.active {
    background: #ef4542;
}

.chatOptions ul li span{
    display: table-cell;
    vertical-align: bottom;
    color:#737583;
}

.chatOptions ul li:hover span,
.chatOptions ul li.active span{
    color:#fff;
}

.chatOptions ul li::before{
    content: '';
    position: absolute;
    top:5px;
    left: 0;
    width: 100%;
    height: 100%;
}
.chatOptions ul li.Messages::before{
    background: url("../images/chat.png") no-repeat center top;
}

.chatOptions ul li.Messages.active::before,
.chatOptions ul li.Messages:hover::before{
    background: url("../images/chat-white.png") no-repeat center top;
}

.chatOptions ul li.Resarvation::before{
    background: url("../images/resarvation.png") no-repeat center top;
}

.chatOptions ul li.Resarvation.active::before,
.chatOptions ul li.Resarvation:hover::before{
    background: url("../images/resarvation-white.png") no-repeat center top;
}

.chatOptions ul li.Archive::before{
    background: url("../images/archive.png") no-repeat center top;
}

.chatOptions ul li.Archive.active::before,
.chatOptions ul li.Archive:hover::before{
    background: url("../images/archive-white.png") no-repeat center top;
}

.chatOptions ul li.Credits::before{
    background: url("../images/credits.png") no-repeat center top;
}

.chatOptions ul li.Credits.active::before,
.chatOptions ul li.Credits:hover::before{
    background: url("../images/credits-white.png") no-repeat center top;
}

.chatOptions + .tabContainer{
    display: inline-block;
    clear: both;
    width:100%;
    margin-top: 10px;
}

.chatList {
    display: inline-block;
    width: 100%;
    clear: both;
    border: solid 1px #ccc;
    border-bottom: none;
}

.chatBlock .chatUsrDetail {
    max-width: 380px;
    word-wrap: break-word;
}

.chatBlock {
    border-bottom: solid 1px #ccc;
    border-left:solid 2px transparent;
    display:block;
    float: left;
    clear:both;
    width: 100%;
    padding: 6px;
}
.chatBlock:hover {
    border-left:solid 2px #ef4542;
}
.chatBlock .chatTime {
    display: inline-block;
    margin: 10px 7px 0 0;
}

.reservationCode {
    background: #f6f4f4;
    display: block;
    width: 100%;
    padding: 15px;
    float: left;
}


.reservationCode h4{
    font-size: 17px;
    margin-bottom: 10px;
    font-weight: 600;
}

.reservationCode p{
    color: #737583;
    font-size: 14px;
    line-height: 1.5em;
}

.reservationCode input[type="text"]{
    width: 100%;
    display: block;
    border:solid 1px #d5d5e0;
    border-radius: 2px;
    font-size: 14px;
    line-height: 2.3em;
    padding: 0 5px;
    box-shadow: 0px 3px 5px 0px rgba(0,0, 0, 0.1);
    margin-bottom: 15px;
}

.reservationCode input[type="submit"]{
    background: #12131d;
    color: #fff;
    width:106px;
    height:36px;
    border: none;
    box-shadow: none;
    font-size: 14px;
    border-radius: 3px;
    cursor: pointer;
    font-weight: 500;
}

.reservationBlock {
    display: inline-block;
    padding: 0 0px 8px;
    width: 100%;
}

.reservationBlock h4{
    font-size: 19px;
    padding: 11px 0 11px 5px;
}
.reservationBlock {
    border-top: solid 1px #ededed;
}
.reservationBlock h4, .reservationBlock .chatBlock{
    border-bottom: solid 1px #ededed;
}
.reservationBlock .chatUsrDetail .rsvrDetail li{
    display: inline-block;
    font-size: 13px;
    line-height: 1.3em;
    border-right: solid 1px #c6c6ca;
    color: #737583;
    padding: 0 5px;
    font-weight: 500;
}
.reservationBlock .chatUsrDetail .rsvrDetail li:first-child{
    padding-left:0;
}
.reservationBlock .chatUsrDetail .rsvrDetail li:last-child{
    border-right: none;
}
.pending{
    color:#ff7f27 !important;
}
.approved{
    color:#68bd45 !important;
}
.canceled{
    color:#d9121f !important;
}

.reservationBlock .viewDetail{
    display: block;
    width: 106px;
    height: 36px;
    text-align: center;
    line-height: 36px;
    border-radius: 3px;
    border:solid 1px #a4a6af;
    margin-top: 16px;
}

.reservationBlock .viewDetail a{
    color: #a4a6af;
}

.reservationBlock.pastdinner{
    border-top:none !important;
}

.dinningCredit .creditBanner{
    display: block;
    width:100%;
    max-height: 365px;
    overflow: hidden;
    margin-bottom: 15px;
}

.dinningCredit .creditBanner img{
    max-width: 100%;
}
.dinningCredit h4{
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 10px;
}

.sclShare ul{
    display: inline-table;
}

.sclShare ul li{
    display: inline-block;
    margin-left: 4px;
}

.linkShare {
    display: block;
    clear: both;
    width: 100%;
    float: left;
    margin-top: 25px;
    margin: 25px 0;
}

.linkShare input {
    width: 100%;
    display: block;
    max-width: 420px;
    margin: 10px auto;
    border: solid 1px #d5d5e0;
    border-radius: 3px;
    line-height: 2.5em;
    font-size: 15px;
    padding: 0 5px;
    color: #aaacb5;
}

/*--------CONVERSATION PAGE----*/

.conversationPage{
    margin-top: 165px;
}

.backLink{
    background: url("../images/back-arrow.png") no-repeat center right 10px;
}
.btnboorder{
    display: block;
    border-radius: 3px;
    border:solid 1px #d5d5e0;
    color: #737583;
    font-size: 13px;
    line-height: 2.5em;
    padding: 0 10px;
}
.btnboorder:hover{
    color: #737583;
}
.fullChatBox  .backchat a{
    width: 50px;
    height: 34px;
    background-position: center;
    margin-right: 15px;
}

.chatSec {
    float: left;
    clear: both;
    width: 100%;
    display: block;
    margin-top: 20px;
}

.chatSec .usrName .NmeDetail{
    padding: 6px 0 0 0;
}

.chatSec .usrName .NmeDetail span.name{
    font-size: 22px;
}

.chatText {
    clear: both;
    float: left;
    width: 100%;
    margin-top: 15px;
}

.chatText .usrName{
    width: 73px;
}

.chatText .chatTxtarea{
    width:90%;
    display: block;
}

.chatText .chatTxtarea textarea{
    width:100%;
    border:solid 1px #ededed;
    padding: 10px;
    color: #a4a6af;
}
.chatText .usrName  .img{
    display: flex;
    width:65px;
    height: 65px;
}
.chatText input{
    cursor: pointer;
    background: #ef4542;
    border:none;
    border-radius: 3px;
    color: #fff;
    font-size: 15px;
    line-height: 2.2em;
    width:100px;
    margin-top:5px;
}

.recentChat .chatArea{
    border:solid 1px #ededed;
    font-size: 15px;
    line-height: 1.5em;
    padding: 10px;
    min-height: 76px;
    margin-bottom:5px;
}

.recentChat .chatTime{
    font-size: 12px;
}

.chatStatus{
    background: #f6f4f4;
    border:solid 1px #ccc;
    clear: both;
    float: left;
    width: 100%;
    height: 100px;
    color: #12131d;
    padding: 12px;
    margin:25px 0;
}

.chatStatus span{
    display: block;
}

.chatStatus .resevation{
    font-size: 16px;
    font-size: 500;
}   

.chatStatus .actionTknby{
    font-size: 13px;
    font-size: 500;
}   