<div class="leftSideLink">
	<div class="linkBlock">
		<h4>Policy</h4>
		<ul>
			<li><a href="term-of-use.html">Term of Use</a></li>
			<li><a href="privacy-policy.html">Privacy Policy</a></li>
			<li><a href="pre-owned-game-garantee.html">Pre Owned Game Garantee</a></li>
			<li><a href="return-refund-policy.html">Return & Refund Policy</a></li>
			<li><a href="shipping-policy.html">Shipping Policy	 </a></li>
		</ul>
	</div>
	<div class="linkBlock">
		<h4>How it works</h4>
		<ul>
			<li><a href="#">Buy</a></li>
			<li><a href="#">Sell</a></li>
			<li><a href="refer-and-earn.html">Refer and Earn</a></li>
			<li><a href="#">In Store Credits</a></li>
		</ul>
	</div>
	<div class="linkBlock">
		<h4>Company</h4>
		<ul>
			<li><a href="faq.html">FAQ's</a></li>
			<li><a href="about-us.html">About Us</a></li>
			<li><a href="contact-us.html">Contact Us</a></li>
			<li><a href="career.html">Career</a></li>
		</ul>
	</div>

</div>