.clr-black{
    color: #12131d;
}

.becomeHost{
    margin-top:155px; 
}
.hostFormSec {
    display: block;
    float: left;
    width: 100%;
    border-right: solid 1px #ccc;
}
.hostFormSec h1,
.hostFormSec h2,
.howItWorksSec h2{
    font:600 22px/1.5em  'Poppins', sans-serif;
}
.hostFormSec h2 span{
    font-size: 11px;
    font-weight: 500;
    float: right;
}
.hostFormSec h1+p{
    color: #737583;
    font-size: 14px;
}
.hostFormSec .hostform .ques{
    display: block;
    float: left;
    width: 100%;
    margin-bottom: 20px;
}
.hostFormSec .hostform .ques p{
    font:500 16px/1.6em 'Poppins', sans-serif;
    margin-bottom: 9px;
}


.answerBlck, .serviceBlck{
    display: block;
    width:100%;
    float: left;
}
.answerBlck li, .serviceBlck li {
    position: relative;
    max-width: 250px;
    margin:0px 8px 5px 0px;
    float: left;
}
.answerBlck li {
    padding: 0 5px;
}
.serviceBlck li {
    padding: 0 15px 0 5px;
}

.answerBlck li{
    width:30%;
    border:solid 1px #ccced6;
    border-radius:3px;
}

.answerBlck li.active {
    border:solid 1px #12131d;
}

.answerBlck .radio {
    opacity: 0;
    display: inline-block;
    position: absolute;
}

.answerBlck .radiobLable {
    margin: 3px 12px 0px 27px;
    display: block;
    cursor: pointer;
    color: #ccced6;
   font: 500 14px/1.9em 'Poppins', sans-serif;
}

.serviceBlck .radiobLable {
   font: 500 14px/1.7em 'Poppins', sans-serif;
   color: #12131d;
   padding-left: 4px;
   cursor: pointer;
}
.serviceBlck input[type=checkbox] {
    visibility: hidden;
}
.answerBlck input[type=radio]:checked ~ label,
.serviceBlck input[type=checkbox]:checked ~ label{
    color: #12131d;
}
.answerBlck input[type=radio] ~ label:before ,
.serviceBlck input[type=checkbox] ~ label:before {
    content: "";
    display: inline-block;
    position: absolute;
    top: 8px;
    left: 8px;
    height: 15px;
    width: 16px;
    border: solid 1px #ccced6;
}

.answerBlck input[type=radio] ~ label:before{
    top: 8px;
    left: 8px;
}
.serviceBlck input[type=checkbox] ~ label:before{
    top: 3px;
    left: 1px;
}

.answerBlck input[type=radio]:checked ~ label:before,
.serviceBlck input[type=checkbox]:checked ~ label:before {
    border: solid 1px #f92929;
}

.answerBlck input[type=radio] ~ label:after,
.serviceBlck input[type=checkbox] ~ label:after {
    content: '';
    width: 12px;
    height: 6px;
    position: absolute;
    border: 2px solid #fa471e;
    border-top: none;
    border-right: none;
    background: transparent;
    opacity: 0;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.answerBlck input[type=radio] ~ label:after{
    top: 11px;
    left: 10px;
 }

 .serviceBlck input[type=checkbox] ~ label:after {
    top: 6px;
    left: 3px;
 }

.answerBlck input[type=radio]:checked ~ label:after,
.serviceBlck input[type=checkbox]:checked ~ label:after {
    opacity: 1;
}

.hostform .ques input[type='submit']{
    max-width: 85px;
}

.reanBnr {
    display: block;
    width: 100%;
    margin-bottom: 10px;
}
.reanBnr img{
    max-width:100%;
}


/*-------------HOW IT WORKS-----------*/

.howItWorksSec{
    margin: 10px 0;
    background: #f6f4f5;
    padding: 18px 0;
}
.hwitBox{
    margin-top:15px;
}
.hwitBox, .hwitBox .img{
    display: block;
    width:100%;
}

.hwitBox .img img{
    max-width: 100%;
}

.hwitBox h5{
    font:600 16px/1.4em 'Poppins', sans-serif;
    margin: 10px 0;
}

.hwitBox p{
    color: #737583;
    font:400 14px/1.6em 'Poppins', sans-serif;
}


/*-----JOIN AND EARN------*/

.joinEarn{
    margin: 18px auto;
    max-width: 441px;
}

.joinEarn p{
    font:400 18px/1.6em 'Poppins', sans-serif;
    color: #2d3749;
}

.joinEarn a{
    display: inline-block;
    max-width: 150px;
    width:45%;
    margin:0 23px; 
}


@media (max-width:1199px) and (min-width:992px) {
    .answerBlck li {
        padding: 0 3px;
    }
    .answerBlck .radiobLable{
        margin: 3px 2px 0px 18px;
        font: 500 13px/1.9em 'Poppins', sans-serif;
    }
    .answerBlck input[type="radio"] ~ label::before {
        left: 3px;
    }

    .answerBlck input[type="radio"] ~ label::after {
        left: 5px;
    }
}

@media (max-width:991px){
    .answerBlck li{
        width:100%;
        float: none;
    }

}

@media (max-width:767px){
    .becomeHost {
        margin-top: 99px;
    }
    .hostFormSec{
        border-right:none;
    }
}