.boxpage{
    margin-top:165px;
}

.forsrvices .chfBoxOne .img {
    height: 130px;
    overflow: hidden;
}

.chfBoxOne .chfDtl .chfImg {
    width: 70px;
    height: 70px;
}

.forsrvices .chfBoxOne .rating > label:before{
    font-size: 14px;
}

.forsrvices .dlymeal {
    background: url(../images/dlymeal.png) no-repeat left center/contain;
    padding-left: 36px;
    font: 600 22px/1.5em'Poppins', sans-serif;
    color: #12131d;
}
.forsrvices .nwchf {
    background: url(../images/nwchf.png) no-repeat left center/contain;
    padding-left: 36px;
    font: 600 22px/1.5em'Poppins', sans-serif;
    color: #12131d;
}
.forsrvices .picks {
    background: url(../images/picks.png) no-repeat left center/contain;
    padding-left: 36px;
    font: 600 22px/1.5em'Poppins', sans-serif;
    color: #12131d;
}
.forsrvices .wished {
    background: url(../images/red-heart-filled.png) no-repeat left center/contain;
    padding-left: 36px;
    font: 600 22px/1.5em'Poppins', sans-serif;
    color: #12131d;
}