.chefDetailPage {
    margin-top: 175px;
}

.topImages {
    display: block;
    float: left;
    width: 32.8%;
    margin-right: 0.7%;
}

.imageBox{
    display: block;
    width: 100%;
    border-radius: 5px;
    overflow: hidden;
    margin-bottom: 10px;
    position: relative;
}

.imageBox img{
    max-width: 100%;
}

.Square {
    max-height: 255px;
}

.Rectangle{
    max-height: 156px;
}

.shadowbox{
    position: absolute;
    top: 5px;
    left: 8px;
    width: 96%;
    height: 100%;
    background: rgba(0,0,0,0.5);
    z-index: 2;
    text-align: center;
    border-radius: 5px;
    max-height: 145px;
    padding: 30px 0 0 0;
}   
.shadowbox p{
    color: #fff;
    font-size: 16px;
    font-weight: 400;
}

.shadowbox a{
    display: block;
    margin: 0 auto;
    color: #fff;
    background: #ef4542;
    width: 85px;
    border-radius: 3px;
    text-align: center;
    font-size: 14px;
    line-height: 2.5em;
}

.modal.and.carousel {
    position: fixed;
  }

.KitchnDetails {
    display: block;
    width: 100%;
    float: left;
    margin-top: 20px;
    border-bottom: solid 1px #ccc;
    padding-bottom: 20px;
    margin-bottom: 20px;
  }


.chfImg {
    display: table;
    height: 150px;
    width: 100px;
    float: left;
}

.chfImg .img{
    width: 96px;
    height: 96px;
    display: table-cell;
    vertical-align: bottom;
    border-radius: 50%;
    text-align: center;
    position: relative;
}


.chfImg .img::before{
content: '';
position: absolute;
top: 18px;
left: 5px;
right: 0;
width: 76px;
height: 48px;
background: url("../images/chf-cap.png") no-repeat center center;
}

.chfImg .img img{
    width:85px;
    height: 85px;
    border-radius: 50%;
}

.Kitchn{
    float: left;
    margin-left: 10px;
    max-width:420px;
}

.Kitchn h3{
    font-size: 30px;
    font-weight: 400;
}

.Kitchn .ktchLoc{
    font-size: 14px;
    font-weight: 400;
    line-height: 1.5em;
    border-right:solid 1px #ccc;
}
.Kitchn .ktchLoc span{
    margin-right:8px; 
}

.ktchnUsrName {
    margin-left: 8px;
    font-size: 15px;
}

.reactions{    
    display: block;
    margin: 15px 0;
    float: left;
    width: 100%;
}

.reactions .reactionBox{
    float: left;
    width:75px;
    border:solid 1px #cdcfd9;
    font-size: 14px;
    line-height: 2em;
    margin-right: 10px;
}

.reactions .reactionBox .imogy{
    width:25px;
    height: 25px;
    border-radius: 50%;
    overflow: hidden;
    margin: 1px 5px 0;
}

.reactions .reactionBox .imogy.yummy{
    background: url("../images/yummy.png") no-repeat center center/contain;
}
.reactions .reactionBox .imogy.avg{
    background: url("../images/avg.png") no-repeat center center/contain;
}
.reactions .reactionBox .imogy.bad{
    background: url("../images/bad.png") no-repeat center center/contain;
}
.reactions .reactionBox .imogy.bkmark{
    background: url("../images/bkmark.png") no-repeat center center/contain;
}
.reactions .reactionBox .counts{
    margin-left:5px; 
}

.ktchLoc.itmcusine,
.ktchLoc.itmprice{
    height: 25px;
    line-height: 1.8em;
}
.ktchLoc.itmcusine{
    border-right:none !important;
}

.srvcType {
    clear: both;
    float: left;
    width: 100%;
    margin-top: 20px;
}

.srvcType span{
    margin-right: 8px;
}

.reviewsBox .star{
    padding-top: 8px;
    padding-right: 5px;
}
.reviewsBox .star p{
    text-align: right;
    font-size: 14px;
}
.reviewsBox .rateScore {
    width: 38px;
    height: 38px;
    text-align: center;
    border-radius: 50%;
    border: solid 1px #12131d;
    color: #12131d;
    font-size: 16px;
    line-height: 2.4em;
    display: block;
    margin: 0 auto;
}
.shareImg {
    position: relative;
}

.wishBox .wishlistbtn{
    background: url("../images/red-heart.png") no-repeat center center;
    border:none;
    box-shadow: none;
    width:50px;
    height: 26px;
    display: block;
    margin: 5px auto 0;
}

.wishBox .wishlistbtn.wished{
    background: url("../images/red-heart-filled.png") no-repeat center center;
}

.wishBox .wishlistbtn:focus{
    outline: none;
}
.shareImg ul.shareList{
    display: none;
    position: absolute;
    bottom: -31px;
    width: 150px;
    left: -97px;
}
.shareImg:hover ul.shareList{
    display: block;
}

.shareImg ul.shareList li{
    float: left;
    margin-right:4px; 
}
.ktchnMenu {
    display: block;
    width: 100%;
    float: left;
    border-bottom: solid 1px #ccc;
    padding-bottom: 20px;
    margin-bottom: 20px;
}
.menuItmsec{
    display: block;
    border:solid 1px #cdcfd9;
    max-height: 369px;
    overflow-y: auto;
    padding: 8px 0;
    margin-bottom: 15px;
}

.menuItmsec:hover{
    border:solid 1px #ef4542;
}

.ktchnMenu .owl-carousel .owl-nav .owl-prev:hover, .ktchnMenu  .owl-carousel .owl-nav .owl-prev{
    float: left;
    background: url(../images/arrow-squar-left.png) no-repeat 0px 0px;
    margin-top: 0px;
    width: 46px;
    height: 46px;
    position: absolute;
    text-indent: -9999px;
    left: 42%;
}

.ktchnMenu .owl-carousel .owl-nav .owl-next:hover, .ktchnMenu  .owl-carousel .owl-nav .owl-next{
    float: right;
    background: url(../images/arrow-squar-right.png) no-repeat 0px 0px;
    margin-top: 0px;
    width: 46px;
    height: 46px;
    position: absolute;
    text-indent: -9999px;
    right: 42%;
}

.ktchnMenu .owl-carousel .owl-nav .owl-next:hover, .ktchnMenu  .owl-carousel .owl-nav .owl-next,
.ktchnMenu .owl-carousel .owl-nav .owl-prev:hover, .ktchnMenu  .owl-carousel .owl-nav .owl-prev{
    top: 90%;
}
.secTitle{
    font-size: 22px;
    font-weight: 500;
    color: #12131d;
    margin-bottom: 20px;
}

.menuItmsec:hover .itmName a{
    color: #ef4542;
}
.ktchnMenu .owl-carousel {
    display: block;
    clear: both;
    overflow: hidden;
    height: 430px;
}
.ktchnMenu  .itmName a{
    font-size: 17px;
    color: #12131d;
}

.ktchnMenu .itmbox {
    border-bottom: solid 1px #ccc;
    margin-bottom: 10px;
}
.ktchnMenu .itmbox .img {
    max-width: 200px;
    max-height: 89px;
    margin: 0 auto;
    border-radius: 5px;
    overflow: hidden;
}

.ktchnMenu .itmbox .img img{
    max-width: 100%;
}

.ktchnMenu .itmbox p,
.ktchnMenu .itmbox .img{
    margin-bottom: 5px;
}

.aboutKthcnBlock, .aboutKthcnBlock ul.KthcnBlockNacList,
.ktchnsSec, .aboutChef .chfName{
    clear: both;
    display: block;
    width: 100%;
    float: left;
}
.aboutKthcnBlock ul.KthcnBlockNacList {
    border-bottom:solid 1px #cdcfd9; 
}

.aboutKthcnBlock ul.KthcnBlockNacList li{
    float: left;
}

.aboutKthcnBlock ul.KthcnBlockNacList li a{
    display: block;
    font-size: 15px;
    line-height: 2.5em;
    font-weight: 500;
    text-align: center;
    padding: 0 15px;
    color: #737583;
    border-bottom:solid 2px transparent;
}

.aboutKthcnBlock ul.KthcnBlockNacList li a:hover,
.aboutKthcnBlock ul.KthcnBlockNacList li a.active{
    color: #ef4542;
    border-bottom:solid 2px #ef4542;
}

.ktchnsSec{
    padding: 15px 0;
    border-bottom:solid 1px #cdcfd9;
    margin-bottom: 20px;
}

.ktchnsSec p{
    font-size: 14px;
    line-height: 1.5em;
    color: #737583;
    font-weight: 400;
}
.subSecTitle{
    font-size: 16px;
    line-height: 2em;
    color: #12131d;
    font-weight: 600;
}

.aboutChef .chfName{
    margin: 10px 0;
}

.aboutChef .chfName .img,
.commentBox .chfName .img{
    width: 65px;
    height: 65px;
    border-radius: 50%;
    display: block;
    overflow:hidden;
    background: #737583; 
}

.aboutChef .chfName .img img,
.commentBox .chfName .img img{
    width: 65px;
    height: 65px;
    border-radius: 50%;
}

.aboutChef .chfName .Detail,
.commentBox .chfName  .Detail{
    margin:12px 0 0 10px;
}

.betailBox {
    display: block;
    width: 33%;
    float: left;
    padding: 0 0 0 35px;
    margin-bottom: 25px;
}

.chefsname{
    background:url("../images/single-user.png") no-repeat left top 5px;
}

.guest{
    background:url("../images/multiuser.png") no-repeat left top 5px;
}

.price{
    background:url("../images/pricelabel.png") no-repeat left top 5px;
}

.ChfLanguage{
    background:url("../images/lang-red.png") no-repeat left top 5px;
}



.Meals{
    background:url("../images/meals.png") no-repeat left top 5px;
}

.Cuisinetype{
    background:url("../images/cusine.png") no-repeat left top 5px;
}

.hseRule.betailBox{
    width:66%;
    background:url("../images/home.png") no-repeat left top 5px;
}

.svcType{
    background:url("../images/platehand.png") no-repeat left top 5px;
}


.instagram{
    float: left;
    width: 175px;
    height: 175px;
    border-radius: 5px;
    overflow: hidden;
    margin-right: 10px;
    position: relative
}

.instagram img{
    max-width: 100%;
}

.instagram .shadowBox{
    position: absolute;
    background: rgba(0,0,0,0.5);
    width: 95%;
    height: 95%;
    top: 4px;
    left: 5px;
    border-radius: 5px;
}

.instagram .shadowBox a{
    color: #fff;
    font-size: 16px;
    line-height: 1.5em;
    text-align: center;
    display: block;
    padding: 57px 0;
}
.referEarn.ktchnsSec{
    border-bottom: none;
}
.referBox{
    display: block;
    border:solid 1px #cdcfd9;
    padding: 5px;
    float: left;
    width:100%;
}

.referBox .img{
    max-width: 350px;
}

.referBox .img img{
    max-width: 100%;
}

.referBox .referDetail{
    margin-left:18px;
}

.referBox .referDetail p{
    font-size: 17px;
    line-height: 1.5em;
    color: #12131d;
    font-weight: 500;
    margin-bottom: 10px;
}

.referBox .referDetail a{
    font-weight: 500;
    text-decoration: underline;
}
.share {
    margin: 15px 0 0;
}

.share ul li{
    float: left;
    margin-right: 8px;
}

.ReviewsSec .RateStars{
    position: relative;
}
.ReviewsSec .RateStars::before{
    content: '';
    position: absolute;
    left: 97px;
    top: 1px;
    width: 90px;
    height: 20px;
}
.ReviewsSec .RateStars.Fivestar::before{
    background: url("../images/fivestar.jpg") no-repeat center left;
}
.ReviewsSec .RateStars.Fourstar::before{
    background: url("../images/fourstar.png") no-repeat center left;
}

.ReviewsSec .RateStars.Threestar::before{
    background: url("../images/threestar.jpg") no-repeat center left;
}

.ReviewsSec .RateStars.Twostar::before{
    background: url("../images/twostar.jpg") no-repeat center left;
}
.ReviewsSec .RateStars.Onestar::before{
    background: url("../images/onestar.jpg") no-repeat center left;
}

.ReviewsSec .cstmr-reviews{
    margin: -3px 0 0 6px;
}

.RateStarList {
    float: left;
    clear: both;
    width: 100%;
    margin-bottom: 10px;
}

.RateStarList .txt,
.RateStarList .stars{
    width:47%;
}

.RateStarList .stars{
    padding-left:3px;
    margin-top: -3px;
}

.stars img {
    vertical-align: middle;
    max-width: 75px;
}

.commentBox {
    display: block;
    clear: both;
    width: 100%;
    float: left;
    border-top: solid 1px #cdcfd9;
    padding-top: 12px;
    margin-bottom: 15px
}
.commentBox  .reviewsBox {
    margin-top: 10px;
}
.commentBox .reviewsBox .starBox .rateScore{
    margin-right:9px;
}
.commentBox .reviewsBox .starBox .reviewStars img{
    margin:12px 7px 0 0;
}

.commentPra, .cmntImages, .cmntLikes {
    clear: both;
    padding: 8px;
}

.commentPra p{
    margin: 0;
}

.cmntImages span{
    float: left;
    width:70px;
    height: 70px;
    border-radius: 5px;
    overflow: hidden;
    margin-right:10px; 
    display: block;
}

.cmntImages span img{
    max-width: 100%;
}

.cmntLikes .likes {
    display: block;
    border: solid 1px #dfe0e1;
    width: 100px;
    float: left;
    border-radius: 3px;
}

.cmntLikes .likes .likeImg {
    display: block;
    padding: 5px 11px 5px 24px;
    border: none;
    width: 67px;
    cursor: pointer;
    border-radius:3px 0 0 3px;
    outline: none; 
}

.cmntLikes .likes .likeImg.dislike {
    background: #dfe0e1 url(../images/heart.png) no-repeat left 5px center;
    color: #737583;
}

.cmntLikes .likes .likeImg.like {
    background: #ef4542 url(../images/heart-white.png) no-repeat left 5px center;
    color: #fff
}

.cmntLikes .likes .likeImg img{
    margin:3px 5px 0 0;
}

.cmntLikes .likes .nmbrs {
    text-align: center;
    width: 27px;
    padding: 5px 0;
}

.KthcnBlockNacList.fixed {
    background: #fff;
    box-shadow: none;
    position: fixed;
    top: 70px;
    z-index: 999;
    max-width: 420px;
}


/*---------------CALENDER AND EQUIRY SECTION------*/

.enquiryCalenderBlock {
    display: block;
    clear: both;
    width: 100%;
    background: #12131d;
    float: left;
    padding: 22px 10px 10px;
}

.enquiryCalenderBlock .topImage{
    width:108px;
    margin:5px auto 13px;
}

.enquiryCalenderBlock .topImage img{
    max-width: 100%;
}

.enquiryCalenderBlock p{
    color: #fff;
    font-size: 13px;
    text-align: center;
}

.calenderBlock {
    display: block;
    background: #fff;
}

.calenderBlock .clndrAvlblty{
    color: #737583;
    font-size: 23px;
    padding: 11px 0 5px;
    font-weight: 500;
}

.calenderBlock .datepicker.datepicker-inline,
.calenderBlock .datepicker.datepicker-inline table{
    width:100%;
    background: #fff;
}
.calenderBlock .datepicker .datepicker-switch,
.calenderBlock  .datepicker .next, 
.calenderBlock .datepicker .prev, .datepicker tfoot tr th{
    cursor: pointer;
    color: #ef4641;
}

.calenderBlock  .datepicker table tr td.day.today,
.calenderBlock .datepicker table tr td.day.today:hover {
    background: #6da041 !important;
    color: #fff !important;
}

.calenderBlock .datepicker .next, .calenderBlock .datepicker .prev {
    font-size: 37px;
    font-weight: 400;
    line-height: 1em;
}

.enquiryCalenderBlock .seatAvl{
    color: #f69022;
    background: url("../images/warning.png") no-repeat center left;
    font-size: 15px;
    font-weight: 500;
    padding: 9px 0 8px 29px;
    margin: 8px 0;
}

.enquiryCalenderBlock .ChfClndrFrm .input{
    clear: both;
    width:100%;
    float: left;
    background: #fff;
    font-size: 13px;
    font-weight: 600;
    color: #12131d;
    padding:13px 8px; 
    margin-bottom:15px; 
}

.enquiryCalenderBlock .ChfClndrFrm select.input{
    -webkit-appearance: none;
    background:#fff url(../images/ddred.png) no-repeat center right 10px;
}

.enquiryCalenderBlock .ChfClndrFrm .inputBtn, 
.untensilbox, .inputBtn{
    clear: both;
    width:100%;
    float: left;
    border-radius: 3px;
    border:solid 1px #ef4542;
    font-size: 16px;
    font-weight: 500;
    line-height: 3em;
    margin-bottom: 15px;
    cursor: pointer;
}

.enquiryCalenderBlock .ChfClndrFrm .inputBtn.redbg,
 .untensilbox .inputBtn.redbg, .inputBtn.redbg{
    background:#ef4542;
    color: #fff;
}
.enquiryCalenderBlock .ChfClndrFrm .inputBtn.blkbg{
    background:#12131d;
}

.enquiryCalenderBlock .ChfClndrFrm #foodDlvryopt{
    display: none;
}
.serviceBlck.menuService input[type=checkbox] {
    display:none;
}
.serviceBlck.menuService input[type=checkbox] ~ label:before,
.serviceBlck.menuService input[type=checkbox]:checked ~ label:before,
.serviceBlck.menuService input[type=checkbox]:checked ~ label:after{
    border:none;
}
.serviceBlck.menuService input[type=checkbox] ~ label{
    border:solid 1px #d5d5e0;
    color: #737583;
    padding: 3px 10px;
    font-weight: 500;
    line-height: 2em;
    border-radius: 3px;
}
.serviceBlck.menuService input[type=checkbox]:checked ~ label{
    background: #fa471e;
    border:solid 1px #fa471e;
    color: #fff;
}

.serviceBlck.menuService li {
    max-width: inherit;
    margin: 0px 0px 5px 0px;
    padding: 0 3px 0 5px;
    float: left;
}
.serviceBlck.menuService.utensilList input[type=checkbox] ~ label{
    background: #fff;
    border: none;
    cursor: pointer;
    border-radius: 3px;
    border:solid 1px #d6d4df;
}

.serviceBlck.menuService.utensilList input[type=checkbox]:checked ~ label{
    background: #12131d;
    border:solid 1px #12131d;
}



.untensilbox{
    clear:both;
    float: left;
    padding: 10px 8px;
    border: solid 1px #d5d5e0;
}

.enquiryForm .frmttl{
    color: #12131d;
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 10px;
}
.enquiryForm .formgroup{
    margin-bottom:15px;
}
.enquiryForm .formgroup,
.enquiryForm .formgroup label,
.enquiryForm .formgroup input,
.enquiryForm .formgroup select,
.enquiryForm .formgroup textarea{
    display: block;
    width:100%;
    clear: both;
}

.enquiryForm .formgroup label{
    color: #12131d;
    font-weight: 500;
}

.enquiryForm .formgroup input,
.enquiryForm .formgroup select,
.enquiryForm .formgroup textarea{
    border:solid 1px #d5d5dd;
    border-radius: 3px;
    padding: 6px 3px;
}
.enquiryForm .formgroup textarea{
    resize: none;
    color: #12131d;
    padding: 10px;
}


/*----------------RATE STAR CHANGES ON 22 JAN 2018-------*/
.rating { 
    border: none;
    float: left;
  }
  
  .rating > input { display: none; } 
  .rating > label:before { 
    margin: 2px;
    font-size: 1.25em;
    font-family: FontAwesome;
    display: inline-block;
    content: "\f005";
  }
  
  .rating > .half:before { 
    content: "\f089";
    position: absolute;
  }
  
  .rating > label { 
    color: #ddd; 
   float: right; 
   margin-bottom: 0;
  }
  
  /***** CSS Magic to Highlight Stars on Hover *****/
  
  .rating > input:checked ~ label, /* show gold star when clicked */
  .rating:not(:checked) > label:hover, /* hover current star */
  .rating:not(:checked) > label:hover ~ label { color: #f75847;  } /* hover previous stars in list */
  
  .rating > input:checked + label:hover, /* hover current star when changing rating */
  .rating > input:checked ~ label:hover,
  .rating > label:hover ~ input:checked ~ label, /* lighten current selection */
  .rating > input:checked ~ label:hover ~ label { color: #f75847;  } 


  .rating:not(:checked) > label:hover,
  .rating:not(:checked) > label:hover ~ label{ color: #ddd;  }
  
/*----------------RATE STAR CHANGES ON 22 JAN 2018 ENDS-------*/