/*------------CHEFBOX ONE---------*/

.chfBoxOne {
    display: block;
    clear: both;
    width: 100%;
    float: left;
    border-radius: 4px;
    overflow: hidden;
    margin: 10px 0 15px;
}

.forsrvices .chfBoxOne {
   box-shadow: 0px 1px 5px 1px rgba(0,0,0,0.3);
   max-width: 289px;
}

.chfBoxOne .img{
    position: relative;
    width:100%;
    display: block;
    height: 140px;
}
.chfBoxOne .img .shade{
    width:100%;
    height: 100%;
    position: absolute;
    top:0;
    left:0;
    background: rgba(0,0,0,0.2);
}

.forsrvices .chfBoxOne .img{
    height: 159px;
    overflow: hidden;
}

.chfBoxOne .img img{
    max-width: 100%;
}

.chfBoxOne .img .price,
.chfBoxOne .img .rank, 
.chfBoxOne .img .bkMrkNmr,
.chfBoxOne .img .ctgry{
    position: absolute;
}

.chfBoxOne .img .rank{
    width: 39px;
    height: 39px;
    top: 10px;
    left: 10px;
    background: url(../images/rank-bdge.png) no-repeat center center/contain;
    color: #fff;
    text-align: center;
    font-size: 24px;
    padding: 2px 0;
}
.chfBoxOne .img .price{
    left: 10px;
}
.chfBoxOne .img .price, 
.chfBoxOne .img .bkMrkNmr{
    top:10px;
    background: #fff;
    font-size: 13px;
    padding: 0px 4px;
    line-height: 23px;
    border-radius: 2px; 
}

.chfBoxOne .img .bkMrkNmr{
    right:10px;
    background: #fff url(../images/bkmrkred.jpg) no-repeat center left 5px;
    padding-left: 24px;
}

.chfBoxOne .img .ctgry{
    bottom: 10px;
    right:10px;
}
.chfBoxOne .img .ctgry ul li{
    color: #fff;
    background: rgba(239, 69, 66, 0.6);
    float: left;
    display: block;
    margin-right: 5px;
    padding: 0 4px;
    font-size: 12px;
    font-weight: 400;
}



.chfBoxOne .chfDtl{
    background: #fff;
    display: block;
    float: left;
    width: 100%;
    padding:0 0 10px 10px;
}

.chfBoxOne .chfDtl .chfImg{
    width: 80px;
    height: 80px;
    display: block;
    border-radius: 50%;
    position: relative;
    margin-top: -44px;
}

.chfBoxOne .chfDtl .chfImg .chfPrflImg {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    display: flex;
    overflow: hidden;
}

.chfBoxOne .chfDtl .chfImg::before{
    content: "";
    background: url(../images/chefcapwhite.png) no-repeat center top/contain;
    top: -43px;
    left: 1px;
    width: 70px;
    height: 45px;
    position: absolute;
}

.chfBoxOne .chfDtl .rate {
    text-align: center;
}

/*----------------RATE STAR CHANGES ON 22 JAN 2018-------*/
.rating { 
    border: none;
    float: left;
  }
  
  .rating > input { display: none; } 
  .rating > label:before { 
    margin: 2px;
    font-size: 1.25em;
    font-family: FontAwesome;
    display: inline-block;
    content: "\f005";
  }
  
  .rating > .half:before { 
    content: "\f089";
    position: absolute;
  }
  
  .rating > label { 
    color: #ddd; 
   float: right; 
   margin-bottom: 0;
  }
  
  /***** CSS Magic to Highlight Stars on Hover *****/
  
  .rating > input:checked ~ label, /* show gold star when clicked */
  .rating:not(:checked) > label:hover, /* hover current star */
  .rating:not(:checked) > label:hover ~ label { color: #f75847;  } /* hover previous stars in list */
  
  .rating > input:checked + label:hover, /* hover current star when changing rating */
  .rating > input:checked ~ label:hover,
  .rating > label:hover ~ input:checked ~ label, /* lighten current selection */
  .rating > input:checked ~ label:hover ~ label { color: #f75847;  } 


  .rating:not(:checked) > label:hover,
  .rating:not(:checked) > label:hover ~ label{ color: #ddd;  }
  
/*----------------RATE STAR CHANGES ON 22 JAN 2018 ENDS-------*/
.chfBoxOne .chfDtl .rate span{
    display: inline-block;
    background: #f6901e;
    color: #fff;
    border-radius: 5px;
    width: 54px;
    height: 19px;
    font-size: 12px;
    line-height: 1.6em;
    margin-top: 9px;
    position: relative;
    padding: 0 10px 0 0;
}

.chfBoxOne .chfDtl .rate span::after {
    font-family: 'Glyphicons Halflings';
    content:"\e006";
    display: inline-block;
    padding-right: 3px;
    vertical-align: middle;
    position: absolute;
    right: 4px;
    top: 0px;
    font-size: 11px;
}

.chfBoxOne .chfDtl .dshDtl {
    padding: 10px 8px 0 6px;
}

.chfBoxOne .chfDtl .dshDtl .ttl {
    color: #12131d;
    font-size: 14px;
    line-height: 1.5em;
    font-weight: 500;
}

.chfBoxOne .chfDtl .dshDtl p {
    color: #737583;
    font-size: 12px;
}

.chfBoxOne .ratingBox ul li{
    display: block;
    float: left;
    margin: 5px 6px 0 0;
}

.chfBoxOne .ratingBox ul li.rateCount span{
    width: 29px;
    height: 29px;
    border-radius: 50%;
    background: #f4f4f5;
    border: solid 1px #12131d;
    color: #12131d;
    font-size: 15px;
    text-align: center;
    display: block;
    padding: 4px 0;
}
.chfBoxOne .ratingBox ul li.rateNmbr {
    font-size: 11px;
    color: #737583;
    line-height: 1.1em;
    padding: 2px 0 0 0;
}
.chfBoxOne .ratingBox ul li.rateNmbr span{
    font-size: 14px;
    color: #141a32;
    font-weight: 500;
}

.forsrvices .chfBoxOne .dshDtl{
    clear:both;
    width: 100%;
    float: left;
    display: block;
}

.reaction {
    display: block;
    width: 60px;
    float: left;
}

.reaction span{
    display: inline-block;
    max-width: 23px;
    margin-right:5px; 
    font-size: 12px;
}

.reaction span img{
    max-width: 100%;
}

@media (max-width:1190px){
    .forsrvices .chfBoxOne .img {
        height: 127px;
    }
}   
@media (max-width:991px){
    .chfBoxOne .img {
        text-align: center
    }
.forsrvices .chfBoxOne .img {
    height: 159px;
    }

}
@media (max-width:885px){
    .forsrvices .chfBoxOne .img {
        height: 137px;
    }
}

@media (max-width:568px){
   .forsrvices .chfBoxOne{
        margin: 0 auto;
        float: none;
    }
    .forsrvices .chfBoxOne .img {
        height: 160px;
    }

    .fturedTesti .reviewSlide .reviewBox{
        margin: 0 auto;
    }
}