@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700');

@font-face {
    font-family: 'Glyphicons Halflings';
    src: url('../fonts/glyphicons-halflings-regular.eot');
    src: url('../fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), url('../fonts/glyphicons-halflings-regular.woff') format('woff'), url('../fonts/glyphicons-halflings-regular.ttf') format('truetype'), url('../fonts/glyphicons-halflings-regular.svg#glyphicons-halflingsregular') format('svg');
  }


body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    overflow-x: hidden;
    font-size: 14px;
    color: #666666;
}

a{
	text-decoration: none;
}

.mr0{
    margin: 0 !important;
}
a:hover{
	color: #ef4542;
	text-decoration: none;
}
ul, .h4, .h5, .h6, h4, h5, h6
 {
	margin: 0;
	padding:0;
}

ul{
    list-style: none;
}

.no-brdr{
    border: none !important;
}

.wrapper{
    display: block;
    width:100%;
    clear: both;
    float: left;
}


.txt-upr{
	text-transform: uppercase;
}

.txt-center{
	text-align: center;
}

.mrRight{
    margin-right:0 !important;
}
.mrLeft{
    margin-left:0 !important;
}
.mrTop{
    margin-top:0 !important;
}
.mrBottom{
    margin-bottom:0 !important;
}
.mr{
    margin: 0 !important;
}

.clr-red{
    color:#ef4542;
}
.clr-black{
    color:#12131d;
}

.clr-gray{
    color:#737583;
}
.clearFix{
    clear:both;
}

/*-----------------HEADER---------------*/

.header{
    position: fixed;
    height: 70px;
    background: #fff;
    z-index: 888;
    box-shadow: -7px 2px 5px rgba(0,0,0,0.3);
}

.header .logo{
    width:100%;
    margin-top: -20px;
    -webkit-transition: all 0.8s linear;
    -moz-transition: all 0.8s linear;
    transition: all 0.8s linear;
    text-align: center;
}

body.smaller .header .logo{
    margin-top: -10px;
}

.header .logo a{
    max-width: 100%;
    display: inline-block;
    text-align: center;
    margin-bottom:-80px;
}

.header .logo a img{
    max-width: 100%;
    -webkit-transition: all 0.8s linear;
    -moz-transition: all 0.8s linear;
    transition: all 0.8s linear;
}

body.smaller .header .logo a img{
    max-width: 130px;
}

.header .tpLeft, .tpRight{
    padding: 18px 0;
    display: block;
    float: left;
    width:100%;
}

.currency{
    display: inline-block;
}
.currency .form-group .btn, .lang{
    background: #fff;
    border:solid 1px #d5d5e0;
    border-radius: 4px;
    outline: none;
    font:400 14px/1em 'Poppins', sans-serif;
    color: #737583;
}

.currency .form-group .btn:focus, .lang select:focus{
    outline: none;
    box-shadow: none;
}
.currency .form-group .btn{
    padding: 12px 9px;
    cursor: pointer;
}

.bnrInner .chfSrch .srchBox select{
    background: url(../images/dwn-arw.png) no-repeat center right 10px;
    -webkit-appearance: none;
    -moz-appearance: none;
    line-height: 1.5em;
    border: none;
    outline: none;
    color: #737583;
    width: 100%;
    }
.lang{
    padding: 0px 9px 0px 37px;
    position: relative;
    width: 148px;
    margin-right: 22px;
    height: 41px;
    background: url(../images/dwn-arw.png) no-repeat center right 10px;
}
.lang::before{
    content: '';
    background: url(../images/lang.png) no-repeat center right 2px;
    width: 28px;
    height: 27px;
    position: absolute;
    top: 6px;
    left: 7px;
}

.lang .lang_selected{
    width: 100%;
    height: 30px;
    padding: 0px 4px;
    cursor: pointer;
    font-size: 16px;
    line-height: 2.6em;
    background: none;
    border: none;
    outline: none;
    color:#737583;
}

.lang .lang_values {
    position: absolute;
    top: 45px;
    width: 148px;
    width: 148px;
    left:0;
    display: none;
    text-align: center;
    background: #fff;
    border-radius: 4px;
    border:solid 1px #d5d5e0;
  }
  
  .lang .lang_item {
    padding: 5px;
    width: 100%;
    height: 30px;
    cursor: pointer;
  }
    
.currency .form-group{
    margin-bottom: 0;
}
.currency .form-group .btn.dropdown-toggle::after{
    content:"";
    background: url(../images/dwn-arw.png) no-repeat center right;
    height: 12px;
    width: 12px;
    border:none;
}

.currency .form-group ul li a{
    display: block;
    width:100%;
    cursor: pointer;
    padding: 0 10px;
}

.bcmHost , .usersign{
    display: block;
    width: 50%;
    float: left;
}

.usersign.afterLogin{
    width:100%;
}
.usersign.afterLogin ul li a{
    text-align: left;
    padding-left: 22px;
}

.usersign.afterLogin ul li a.message{
    background: url(../images/message.png) no-repeat center left;
    padding-left: 30px;
    margin-left:5px;
}

.usersign.afterLogin ul li.accDropDown .AccNav{
    display: none;
    width:140px;
    position: absolute;
    background: #fff;
    box-shadow: 0 3px 6px 0 rgba(0,0,0,0.2);
}
.usersign.afterLogin ul li.accDropDown .AccNav li{
    width: 100%;
    display: block;
}

.usersign.afterLogin ul li.accDropDown .AccNav li a{
    display: block;
    padding: 0;
    text-align: center;
}
.bcmHost a{
    display: block;
    width: 100%;
    max-width: 160px;
    color: #fff;
    font: 500 14px/2em 'Poppins', sans-serif;
    background: #ef4542 url(../images/wht-cap-one.png) no-repeat center left 6px;
    border-radius: 5px;
    padding: 9px 0 9px 35px;
    text-align: center;
}

.usersign {
    padding: 9px 0 9px 10px;
}

.usersign ul{
    display: block;
    width:100%;
}
.usersign ul li{
    display: inline-block;
    width:47%;
}

.usersign ul li a{
    display: block;
    font:400 14px/2em 'Poppins', sans-serif;
    color:#737583;
    text-align: center;
    padding-left:10px;
    outline: none;
}


.usersign ul li a.signup{
    background: url(../images/user.png) no-repeat center left;
    border-right:solid 1px #737583;
}
.usersign ul li a.login{
    background: url(../images/pen.png) no-repeat center left 4px;
}
.usersign ul li a.logout{
    background: url(../images/logout.png) no-repeat center left 4px;
}

.modal-backdrop{
    display: none;
}


.usersign .modal-open .modal{
    background: rgba(0,0,0,0.7);
}

.usersign .modal-body{
    padding: 0;
}

.usersign ul.tabNav{
    border-bottom: solid 1px #cdcfd9;
}


.usersign ul.tabNav li:first-child{
    border-right: solid 1px #cdcfd9;
}



.usersign ul.tabNav li .signup{
    border:none;
}
.usersign ul.tabNav li .active.login, .usersign ul.tabNav li:hover .login{
    background: url(../images/pen-red.png) no-repeat center left;
}
.usersign ul.tabNav li .active.signup, .usersign ul.tabNav li:hover .signup{
    background: url(../images/user-red.png) no-repeat center left;
}

.usersign ul.tabNav li .login, 
.usersign ul.tabNav li .signup,
.usersign ul.tabNav li .active.login,
.usersign ul.tabNav li .active.login, 
.usersign ul.tabNav li:hover .login,
.usersign ul.tabNav li .active.signup, 
.usersign ul.tabNav li:hover .signup{
    background-position: center left 41px;
    padding: 10px 0;
}
.usersign ul.tabNav li .active, .usersign ul.tabNav li:hover a{
    color: #ef4542;
}

.modal-open .modal {
    background: rgba(0,0,0,0.7);
}

.modal-content{
    top:45px;
}
.loginWith {
    text-align: center;
}

.loginWith h5{
    font:500 18px/2.7em 'Poppins', sans-serif;
    color: #333334;
}

.loginWith a {
    display: inline-block;
    margin-right: 6px;
}

.loginWith p , .formGrp p {
    color: #737583;
    font-size: 13px;
    padding: 9px 10px;
}
.usrLgForm .formGrp{
    padding: 0 15px;
    position: relative;
}

.fgtpw {
    text-align: right;
    margin-right: 10px;
}
.fgtpw a{
    color: #ef4542;
    font-size: 13px;
}
button.btn.btn-default.mdlclose {
    background: none;
    outline: none;
    position: absolute;
    top: 1px;
    right: -1px;
    cursor: pointer;
}

.rgform{
    display: block;
    margin-top:15px; 
}
.usrLgForm .formGrp input[type='submit'],
.usrLgForm .formGrp a, .usrLgForm .formGrp button,
.hostform .ques input[type='submit']{
    width: 100%;
    color: #fff;
    background: #ef4542;
    display: block;
    border:none;
    border-radius: 4px;
    outline: none;
    transition: all 0.2s linear; 
    font-size: 15px;
    padding: 10px;
    cursor: pointer;
    margin-top: 15px;
    text-align: center;
}

.usrLgForm .formGrp a.signUpemail.disable{
    background: #cdcfd9;
}

form.usrLgForm {
    display: block;
    float: left;
    width: 100%;
    padding-bottom: 15px;
}

.usrLgForm .formGrp input[type='submit']:hover{
    background: #a50c0a;
}
.usrLgForm input[type='email'],
.usrLgForm input[type="password"],
.usrLgForm input[type="text"],
.usrLgForm input[type="number"]{
    border-radius:4px;
    border: solid 1px #d0d2dc;
    color: #737583;
    font:400 13px/2em 'Poppins', sans-serif;
    display: block;
    width:100%;
    margin: 0 0 15px;
    padding: 7px 7px 7px 34px;
    transition: all 0.2s linear;
}

.formGrp input[type="text"]+span.unptbg,
.formGrp input[type="email"]+span.unptbg,
.formGrp input[type="number"]+span.unptbg,
.formGrp input[type="password"]+span.unptbg,
.formGrp select+span.unptbg,
.formGrp textarea+span.unptbg{
	display: block;
	width: 20px;
	position: absolute;
    top: 7px;
    left: 24px;
	background: url(../images/icons.png) no-repeat center center;
	transition: all 0.2s linear;
}
.formGrp select{
	background: url(../images/arw-dwn.png) no-repeat center right 10px;	
	-webkit-appearance: none;
	-moz-appearance: none;
}

.formGrp .uname+span.unptbg{
	background-position:-17px -11px !important; 
	height: 25px;
}

.usrLgForm input[type='email']:focus,
.usrLgForm input[type="password"]:focus,
.usrLgForm input[type="text"]:focus,
.usrLgForm input[type="number"]:focus{
   padding: 7px 7px 7px 27px;
   outline: none;
}

.formGrp input[type="text"]:focus+span.unptbg,
.formGrp input[type="text"]:focus+span.unptbg,
.formGrp input[type="email"]:focus+span.unptbg,
.formGrp input[type="number"]:focus+span.unptbg,
.formGrp input[type="password"]:focus+span.unptbg,
.formGrp textarea:focus+span.unptbg{
	left:17px;
}


.formGrp .upw+span.unptbg{
	background-position:-152px -11px !important; 
	height: 23px;
}
.formGrp .uemail+span.unptbg{
	background-position:-87px -9px !important; 
	height: 23px;
}
.formGrp .unmbr+span.unptbg{
	background-position: -223px -9px !important;
    height: 23px;
    width: 23px !important;
}
.formGrp select+span.unptbg{
	background-position: -126px -2px !important;
    height: 23px;
    width: 23px !important;
}
.formGrp textarea+span.unptbg{
	background-position: -254px -2px !important;
    height: 23px;
    width: 23px !important;
}

.sgntc{
    padding: 0 24px;
    display: block;
    font-size: 12px;
}
.sgntc a{
    color: #ef4542;
}
/*---------------------CURRENCY LIST FLAG----------*/

.flagstrap {
    display: inline-block;
    position: relative;
    width: 100%;
}

.flagstrap-icon {
    display: inline-block;
    width: 16px;
    height: 11px;
    background: url(../images/flags.png) no-repeat
}

.flagstrap-placeholder,
.flagstrap-placeholder i {
  display: none
}


.flagstrap-icon.flagstrap-aed {
    background-position: -32px 0
}

.flagstrap-icon.flagstrap-afn {
    background-position: -48px 0
}

.flagstrap-icon.flagstrap-xcd {
    background-position: -64px 0
}



.flagstrap-icon.flagstrap-all {
    background-position: -96px 0
}

.flagstrap-icon.flagstrap-amd {
    background-position: -112px 0
}

.flagstrap-icon.flagstrap-an {
    background-position: -128px 0
}

.flagstrap-icon.flagstrap-aoa {
    background-position: -144px 0
}

.flagstrap-icon.flagstrap-ars {
    background-position: -160px 0
}

.flagstrap-icon.flagstrap-as {
    background-position: -176px 0
}

.flagstrap-icon.flagstrap-at {
    background-position: -192px 0
}

.flagstrap-icon.flagstrap-aud {
    background-position: -208px 0
}

.flagstrap-icon.flagstrap-awg {
    background-position: -224px 0
}

.flagstrap-icon.flagstrap-azn {
    background-position: -240px 0
}

.flagstrap-icon.flagstrap-bam {
    background-position: 0 -11px
}

.flagstrap-icon.flagstrap-bbd {
    background-position: -16px -11px
}

.flagstrap-icon.flagstrap-bdt {
    background-position: -32px -11px
}

.flagstrap-icon.flagstrap-be {
    background-position: -48px -11px
}

.flagstrap-icon.flagstrap-xof {
    background-position: -64px -11px
}

.flagstrap-icon.flagstrap-bgn {
    background-position: -80px -11px
}

.flagstrap-icon.flagstrap-bhd {
    background-position: -96px -11px
}

.flagstrap-icon.flagstrap-bif {
    background-position: -112px -11px
}

.flagstrap-icon.flagstrap-bj {
    background-position: -128px -11px
}

.flagstrap-icon.flagstrap-bmd {
    background-position: -144px -11px
}

.flagstrap-icon.flagstrap-bnd {
    background-position: -160px -11px
}

.flagstrap-icon.flagstrap-bob {
    background-position: -176px -11px
}

.flagstrap-icon.flagstrap-brl {
    background-position: -192px -11px
}

.flagstrap-icon.flagstrap-bsd {
    background-position: -208px -11px
}

.flagstrap-icon.flagstrap-btn {
    background-position: -224px -11px
}

.flagstrap-icon.flagstrap-bv {
    background-position: -240px -11px
}

.flagstrap-icon.flagstrap-bwp {
    background-position: 0 -22px
}

.flagstrap-icon.flagstrap-byn {
    background-position: -16px -22px
}

.flagstrap-icon.flagstrap-bzd {
    background-position: -32px -22px
}

.flagstrap-icon.flagstrap-cad {
    background-position: -48px -22px
}

.flagstrap-icon.flagstrap-catalonia {
    background-position: -64px -22px
}

.flagstrap-icon.flagstrap-cdf {
    background-position: -80px -22px
}

.flagstrap-icon.flagstrap-xaf {
    background-position: -96px -22px
}

.flagstrap-icon.flagstrap-cg {
    background-position: -112px -22px
}

.flagstrap-icon.flagstrap-chf {
    background-position: -128px -22px
}

.flagstrap-icon.flagstrap-ci {
    background-position: -144px -22px
}

.flagstrap-icon.flagstrap-ck {
    background-position: -160px -22px
}

.flagstrap-icon.flagstrap-clp {
    background-position: -176px -22px
}

.flagstrap-icon.flagstrap-cm {
    background-position: -192px -22px
}

.flagstrap-icon.flagstrap-cny {
    background-position: -208px -22px
}

.flagstrap-icon.flagstrap-cop {
    background-position: -224px -22px
}

.flagstrap-icon.flagstrap-crc {
    background-position: -240px -22px
}

.flagstrap-icon.flagstrap-cup {
    background-position: 0 -33px
}

.flagstrap-icon.flagstrap-cve {
    background-position: -16px -33px
}

.flagstrap-icon.flagstrap-cw {
    background-position: -32px -33px
}

.flagstrap-icon.flagstrap-cy {
    background-position: -48px -33px
}

.flagstrap-icon.flagstrap-czk {
    background-position: -64px -33px
}

.flagstrap-icon.flagstrap-de {
    background-position: -80px -33px
}

.flagstrap-icon.flagstrap-djf {
    background-position: -96px -33px
}

.flagstrap-icon.flagstrap-dkk {
    background-position: -112px -33px
}

.flagstrap-icon.flagstrap-dm {
    background-position: -128px -33px
}

.flagstrap-icon.flagstrap-dop {
    background-position: -144px -33px
}

.flagstrap-icon.flagstrap-dzd {
    background-position: -160px -33px
}

.flagstrap-icon.flagstrap-ec {
    background-position: -176px -33px
}

.flagstrap-icon.flagstrap-ee {
    background-position: -192px -33px
}

.flagstrap-icon.flagstrap-egp {
    background-position: -208px -33px
}

.flagstrap-icon.flagstrap-eh {
    background-position: -224px -33px
}

.flagstrap-icon.flagstrap-england {
    background-position: -240px -33px
}

.flagstrap-icon.flagstrap-ern {
    background-position: 0 -44px
}

.flagstrap-icon.flagstrap-es {
    background-position: -16px -44px
}

.flagstrap-icon.flagstrap-etb {
    background-position: -32px -44px
}

.flagstrap-icon.flagstrap-eur {
    background-position: -48px -44px
}



.flagstrap-icon.flagstrap-fjd {
    background-position: -80px -44px
}

.flagstrap-icon.flagstrap-fkp {
    background-position: -96px -44px
}

.flagstrap-icon.flagstrap-fm {
    background-position: -112px -44px
}

.flagstrap-icon.flagstrap-fo {
    background-position: -128px -44px
}

.flagstrap-icon.flagstrap-fr {
    background-position: -144px -44px
}

.flagstrap-icon.flagstrap-ga {
    background-position: -160px -44px
}

.flagstrap-icon.flagstrap-gbp {
    background-position: -176px -44px
}

.flagstrap-icon.flagstrap-gd {
    background-position: -192px -44px
}

.flagstrap-icon.flagstrap-gel {
    background-position: -208px -44px
}

.flagstrap-icon.flagstrap-gf {
    background-position: -224px -44px
}

.flagstrap-icon.flagstrap-ggp {
    background-position: -240px -44px
}

.flagstrap-icon.flagstrap-ghs {
    background-position: 0 -55px
}

.flagstrap-icon.flagstrap-gip {
    background-position: -16px -55px
}

.flagstrap-icon.flagstrap-dkk {
    background-position: -32px -55px
}

.flagstrap-icon.flagstrap-gmd {
    background-position: -48px -55px
}

.flagstrap-icon.flagstrap-gnf {
    background-position: -64px -55px
}

.flagstrap-icon.flagstrap-gp {
    background-position: -80px -55px
}

.flagstrap-icon.flagstrap-gq {
    background-position: -96px -55px
}

.flagstrap-icon.flagstrap-gr {
    background-position: -112px -55px
}

.flagstrap-icon.flagstrap-zar {
    background-position: -128px -55px
}

.flagstrap-icon.flagstrap-gtq {
    background-position: -144px -55px
}

.flagstrap-icon.flagstrap-gu {
    background-position: -160px -55px
}

.flagstrap-icon.flagstrap-gw {
    background-position: -176px -55px
}

.flagstrap-icon.flagstrap-gyd {
    background-position: -192px -55px
}

.flagstrap-icon.flagstrap-hkd {
    background-position: -208px -55px
}

.flagstrap-icon.flagstrap-hm {
    background-position: -224px -55px
}

.flagstrap-icon.flagstrap-hnl {
    background-position: -240px -55px
}

.flagstrap-icon.flagstrap-hrk {
    background-position: 0 -66px
}

.flagstrap-icon.flagstrap-htg {
    background-position: -16px -66px
}

.flagstrap-icon.flagstrap-huf {
    background-position: -32px -66px
}

.flagstrap-icon.flagstrap-ic {
    background-position: -48px -66px
}

.flagstrap-icon.flagstrap-idr {
    background-position: -64px -66px
}

.flagstrap-icon.flagstrap-ie {
    background-position: -80px -66px
}

.flagstrap-icon.flagstrap-ils {
    background-position: -96px -66px
}

.flagstrap-icon.flagstrap-imp {
    background-position: -112px -66px
}

.flagstrap-icon.flagstrap-inr {
    background-position: -128px -66px
}

.flagstrap-icon.flagstrap-io {
    background-position: -144px -66px
}

.flagstrap-icon.flagstrap-iqd {
    background-position: -160px -66px
}

.flagstrap-icon.flagstrap-irr {
    background-position: -176px -66px
}

.flagstrap-icon.flagstrap-isk {
    background-position: -192px -66px
}

.flagstrap-icon.flagstrap-it {
    background-position: -208px -66px
}

.flagstrap-icon.flagstrap-jep {
    background-position: -224px -66px
}

.flagstrap-icon.flagstrap-jmd {
    background-position: -240px -66px
}

.flagstrap-icon.flagstrap-jod {
    background-position: 0 -77px
}

.flagstrap-icon.flagstrap-jpy {
    background-position: -16px -77px
}

.flagstrap-icon.flagstrap-kes {
    background-position: -32px -77px
}

.flagstrap-icon.flagstrap-kgs {
    background-position: -48px -77px
}

.flagstrap-icon.flagstrap-khr {
    background-position: -64px -77px
}

.flagstrap-icon.flagstrap-ki {
    background-position: -80px -77px
}

.flagstrap-icon.flagstrap-kmf {
    background-position: -96px -77px
}

.flagstrap-icon.flagstrap-kn {
    background-position: -112px -77px
}

.flagstrap-icon.flagstrap-kpw {
    background-position: -128px -77px
}

.flagstrap-icon.flagstrap-krw {
    background-position: -144px -77px
}

.flagstrap-icon.flagstrap-kurdistan {
    background-position: -160px -77px
}

.flagstrap-icon.flagstrap-kwd {
    background-position: -176px -77px
}

.flagstrap-icon.flagstrap-kyd {
    background-position: -192px -77px
}

.flagstrap-icon.flagstrap-kzt {
    background-position: -208px -77px
}

.flagstrap-icon.flagstrap-lak {
    background-position: -224px -77px
}

.flagstrap-icon.flagstrap-lbp {
    background-position: -240px -77px
}

.flagstrap-icon.flagstrap-lc {
    background-position: 0 -88px
}

.flagstrap-icon.flagstrap-li {
    background-position: -16px -88px
}

.flagstrap-icon.flagstrap-lkr {
    background-position: -32px -88px
}

.flagstrap-icon.flagstrap-lrd {
    background-position: -48px -88px
}

.flagstrap-icon.flagstrap-lsl {
    background-position: -64px -88px
}

.flagstrap-icon.flagstrap-lt {
    background-position: -80px -88px
}

.flagstrap-icon.flagstrap-lu {
    background-position: -96px -88px
}

.flagstrap-icon.flagstrap-lv {
    background-position: -112px -88px
}

.flagstrap-icon.flagstrap-lyd {
    background-position: -128px -88px
}

.flagstrap-icon.flagstrap-mad {
    background-position: -144px -88px
}

.flagstrap-icon.flagstrap-mc {
    background-position: -160px -88px
}

.flagstrap-icon.flagstrap-mdl {
    background-position: -176px -88px
}

.flagstrap-icon.flagstrap-me {
    background-position: -192px -88px
}

.flagstrap-icon.flagstrap-mga {
    background-position: -208px -88px
}

.flagstrap-icon.flagstrap-mh {
    background-position: -224px -88px
}

.flagstrap-icon.flagstrap-mkd {
    background-position: -240px -88px
}

.flagstrap-icon.flagstrap-ml {
    background-position: 0 -99px
}

.flagstrap-icon.flagstrap-mmk {
    background-position: -16px -99px
}

.flagstrap-icon.flagstrap-mnt {
    background-position: -32px -99px
}

.flagstrap-icon.flagstrap-mop {
    background-position: -48px -99px
}

.flagstrap-icon.flagstrap-mp {
    background-position: -64px -99px
}

.flagstrap-icon.flagstrap-mq {
    background-position: -80px -99px
}

.flagstrap-icon.flagstrap-mro {
    background-position: -96px -99px
}

.flagstrap-icon.flagstrap-ms {
    background-position: -112px -99px
}

.flagstrap-icon.flagstrap-mt {
    background-position: -128px -99px
}

.flagstrap-icon.flagstrap-mur {
    background-position: -144px -99px
}

.flagstrap-icon.flagstrap-mvr {
    background-position: -160px -99px
}

.flagstrap-icon.flagstrap-mwk {
    background-position: -176px -99px
}

.flagstrap-icon.flagstrap-mxn {
    background-position: -192px -99px
}

.flagstrap-icon.flagstrap-myr {
    background-position: -208px -99px
}

.flagstrap-icon.flagstrap-mzn {
    background-position: -224px -99px
}

.flagstrap-icon.flagstrap-nad {
    background-position: -240px -99px
}

.flagstrap-icon.flagstrap-xpf {
    background-position: 0 -110px
}

.flagstrap-icon.flagstrap-ne {
    background-position: -16px -110px
}

.flagstrap-icon.flagstrap-ngn {
    background-position: -32px -110px
}

.flagstrap-icon.flagstrap-ng {
    background-position: -48px -110px
}

.flagstrap-icon.flagstrap-nio {
    background-position: -64px -110px
}

.flagstrap-icon.flagstrap-nl {
    background-position: -80px -110px
}

.flagstrap-icon.flagstrap-nok {
    background-position: -96px -110px
}

.flagstrap-icon.flagstrap-npr {
    background-position: -112px -110px
}

.flagstrap-icon.flagstrap-nr {
    background-position: -128px -110px
}

.flagstrap-icon.flagstrap-nu {
    background-position: -144px -110px
}

.flagstrap-icon.flagstrap-nzd {
    background-position: -160px -110px
}

.flagstrap-icon.flagstrap-omr {
    background-position: -176px -110px
}

.flagstrap-icon.flagstrap-pa {
    background-position: -192px -110px
}

.flagstrap-icon.flagstrap-pen {
    background-position: -208px -110px
}

.flagstrap-icon.flagstrap-pf {
    background-position: -224px -110px
}

.flagstrap-icon.flagstrap-pgk {
    background-position: -240px -110px
}

.flagstrap-icon.flagstrap-php {
    background-position: 0 -121px
}

.flagstrap-icon.flagstrap-pkr {
    background-position: -16px -121px
}

.flagstrap-icon.flagstrap-pln {
    background-position: -32px -121px
}

.flagstrap-icon.flagstrap-pm {
    background-position: -48px -121px
}

.flagstrap-icon.flagstrap-pn {
    background-position: -64px -121px
}

.flagstrap-icon.flagstrap-pr {
    background-position: -80px -121px
}

.flagstrap-icon.flagstrap-ils {
    background-position: -96px -121px
}

.flagstrap-icon.flagstrap-pt {
    background-position: -112px -121px
}

.flagstrap-icon.flagstrap-pw {
    background-position: -128px -121px
}

.flagstrap-icon.flagstrap-pyg {
    background-position: -144px -121px
}

.flagstrap-icon.flagstrap-qar {
    background-position: -160px -121px
}

.flagstrap-icon.flagstrap-re {
    background-position: -176px -121px
}

.flagstrap-icon.flagstrap-ron {
    background-position: -192px -121px
}

.flagstrap-icon.flagstrap-rsd {
    background-position: -208px -121px
}

.flagstrap-icon.flagstrap-rub {
    background-position: -224px -121px
}

.flagstrap-icon.flagstrap-rwf {
    background-position: -240px -121px
}

.flagstrap-icon.flagstrap-sar {
    background-position: 0 -132px
}

.flagstrap-icon.flagstrap-sbd {
    background-position: -16px -132px
}

.flagstrap-icon.flagstrap-scr {
    background-position: -32px -132px
}

.flagstrap-icon.flagstrap-scotland {
    background-position: -48px -132px
}

.flagstrap-icon.flagstrap-sdg {
    background-position: -64px -132px
}

.flagstrap-icon.flagstrap-sek {
    background-position: -80px -132px
}

.flagstrap-icon.flagstrap-sgd {
    background-position: -96px -132px
}

.flagstrap-icon.flagstrap-shp {
    background-position: -112px -132px
}

.flagstrap-icon.flagstrap-si {
    background-position: -128px -132px
}

.flagstrap-icon.flagstrap-sk {
    background-position: -144px -132px
}

.flagstrap-icon.flagstrap-sll {
    background-position: -160px -132px
}

.flagstrap-icon.flagstrap-sm {
    background-position: -176px -132px
}

.flagstrap-icon.flagstrap-sn {
    background-position: -192px -132px
}

.flagstrap-icon.flagstrap-sos {
    background-position: -208px -132px
}

.flagstrap-icon.flagstrap-somaliland {
    background-position: -224px -132px
}

.flagstrap-icon.flagstrap-srd {
    background-position: -240px -132px
}

.flagstrap-icon.flagstrap-ssp {
    background-position: 0 -143px
}

.flagstrap-icon.flagstrap-std {
    background-position: -16px -143px
}

.flagstrap-icon.flagstrap-sv {
    background-position: -32px -143px
}

.flagstrap-icon.flagstrap-ang {
    background-position: -48px -143px
}

.flagstrap-icon.flagstrap-syp {
    background-position: -64px -143px
}

.flagstrap-icon.flagstrap-szl {
    background-position: -80px -143px
}

.flagstrap-icon.flagstrap-tc {
    background-position: -96px -143px
}

.flagstrap-icon.flagstrap-td {
    background-position: -112px -143px
}

.flagstrap-icon.flagstrap-tf {
    background-position: -128px -143px
}

.flagstrap-icon.flagstrap-tg {
    background-position: -144px -143px
}

.flagstrap-icon.flagstrap-thb {
    background-position: -160px -143px
}

.flagstrap-icon.flagstrap-tjs {
    background-position: -176px -143px
}

.flagstrap-icon.flagstrap-tk {
    background-position: -192px -143px
}

.flagstrap-icon.flagstrap-tl {
    background-position: -208px -143px
}

.flagstrap-icon.flagstrap-tmt {
    background-position: -224px -143px
}

.flagstrap-icon.flagstrap-tnd {
    background-position: -240px -143px
}

.flagstrap-icon.flagstrap-top {
    background-position: 0 -154px
}

.flagstrap-icon.flagstrap-try {
    background-position: -16px -154px
}

.flagstrap-icon.flagstrap-ttd {
    background-position: -32px -154px
}

.flagstrap-icon.flagstrap-tv {
    background-position: -48px -154px
}

.flagstrap-icon.flagstrap-twd {
    background-position: -64px -154px
}

.flagstrap-icon.flagstrap-tzs {
    background-position: -80px -154px
}

.flagstrap-icon.flagstrap-uah {
    background-position: -96px -154px
}

.flagstrap-icon.flagstrap-ugx {
    background-position: -112px -154px
}

.flagstrap-icon.flagstrap-um {
    background-position: -128px -154px
}

.flagstrap-icon.flagstrap-usd {
    background-position: -144px -154px
}

.flagstrap-icon.flagstrap-uyu {
    background-position: -160px -154px
}

.flagstrap-icon.flagstrap-uzs {
    background-position: -176px -154px
}

.flagstrap-icon.flagstrap-va {
    background-position: -192px -154px
}

.flagstrap-icon.flagstrap-vc {
    background-position: -208px -154px
}

.flagstrap-icon.flagstrap-vef {
    background-position: -224px -154px
}

.flagstrap-icon.flagstrap-vg {
    background-position: -240px -154px
}

.flagstrap-icon.flagstrap-vi {
    background-position: 0 -165px
}

.flagstrap-icon.flagstrap-vnd {
    background-position: -16px -165px
}

.flagstrap-icon.flagstrap-vuv {
    background-position: -32px -165px
}

.flagstrap-icon.flagstrap-wales {
    background-position: -48px -165px
}

.flagstrap-icon.flagstrap-wf {
    background-position: -64px -165px
}

.flagstrap-icon.flagstrap-wst {
    background-position: -80px -165px
}

.flagstrap-icon.flagstrap-yer {
    background-position: -96px -165px
}

.flagstrap-icon.flagstrap-yt {
    background-position: -112px -165px
}

.flagstrap-icon.flagstrap-za {
    background-position: -128px -165px
}

.flagstrap-icon.flagstrap-zanzibar {
    background-position: -144px -165px
}

.flagstrap-icon.flagstrap-zmw {
    background-position: -160px -165px
}

.flagstrap-icon.flagstrap-zw {
    background-position: -176px -165px
}
.no-content {
    clear: both;
}

/*---------------------CURRENCY LIST FLAG ENDS----------*/

/*--------------FOOTER STYLING----------*/

footer{
    background: #12131d;    
    padding: 20px 0;
}

footer .ftrAppBox{
    text-align: left;
    color: #737583;
}
footer .ftrAppBox p{
    padding:8px 0 0 2px;
}
.ftrSocial{
    display: block;
    width:100%;
    padding: 10px 0 0 0;
    padding: 20px 0 0 0;
    text-align: center;
}
.ftrSocial a{
    display: inline-block;
    margin-right:15px;
}

.ftrLink{
    max-width: 750px;
    width: 100%;
    margin: 25px auto 0;
    display: block;
}

.ftrLink ul li{
    float: left;
}

.ftrLink ul li a{
    display: block;
    color: #737583;
    border-right: solid 1px #737583;
    padding: 0 15px;
    font-size: 13px;
    line-height: 18px;
}

.ftrLink ul li:last-child a{
    border-right:none;
    padding:0 0 0 15px;
}

.copyright{
    background: #272835;
    padding: 13px 0;
}

.copyright p{
    margin: 0;
    color: #737583;
}

/*---------------------Media Query----------*/
@media (max-width: 1440px){
.header .logo a img{
    max-width: 175px;
}
}


@media (min-width: 992px){
.modal-lg {
    max-width: 385px;
    }
}
@media (max-width: 1024px){
    .lang{
        background-position:top 16px right 8px; 
    }
}
@media (max-width: 992px){
    
    .usersign ul li a, 
    .usersign ul li{
        width:35px;
        height: 35px;
    }
    .bcmHost a {
        width:40px;
        height: 40px;
        background: #ef4542 url(../images/wht-cap-one.png) no-repeat center center;
        float: right;
    }
    .usersign ul li a.signup,
    .usersign ul.tabNav li .login, 
    .usersign ul.tabNav li .signup {
        background-position: center center !important;
    }
    .usersign ul li a.signup span,
    .usersign ul li a.login span,
    .bcmHost a span{
        display: none;
    }

    .currency .form-group .btn {
        padding: 12px 5px;
    }
    
    .currency .form-group .btn {
        padding: 11px 5px;
    }
    .lang {
    
        padding: 0px 5px 0px 5px;
        width: 105px;
        margin-right: 1px;
        height: 38px;
    }

    .lang .lang_values{
        width:105px;
        text-align: left;
        top: 40px;
    }
    .lang::before{
        display: none;
    }
}

@media (max-width: 767px){
    .header .logo, body.smaller .header .logo{
        margin-top:-8px;
    }
    .header .logo a img, body.smaller .header .logo a img {
        max-width: 90px;
    }
    .currency,  .usersign ul > li.ntmob {
        display: none;
    }

    .usersign {
        padding: 0px 0 9px 10px;
    }

    .bcmHost a {
        width: 33px;
        height: 33px;
    }

    .ftrLogo.text-center {
        margin-top: 20px;
    }

    .ftrLink ul li a {
        margin-bottom: 5px;
    }
    
}