

.secTitle{
    font:600 22px/1.5em'Poppins', sans-serif;
    color:#12131d;}

.secTitle, .smlTitle{
    width: 100%;
    display: block;
    float: left;
    margin-top: 15px;
}
.smlTitle{
    font:400 16px/1.5em 'Poppins', sans-serif;
    color: #fff;  
}
.secTitle a, .smlTitle a{
    font-size: 13px;
    text-decoration: underline;
    font-weight: 500;
    margin-right: 9px;
}
/*---------------Calender Design----------------*/

.datepicker-days th.dow {
    font-weight: 400;
    padding: 8px 10px;
    color: #cacad4;
}
.datepicker table tr td.disabled, .datepicker table tr td.disabled:hover{
    color:#e7e7e7 !important;
}
.datepicker td, .datepicker th{
    font-family: 'Poppins', sans-serif;
}
.datepicker .datepicker-switch, .datepicker .next, .datepicker .prev, .datepicker tfoot tr th {
    cursor: pointer;
    color: #ef4641;
}
.datepicker .datepicker-switch {
    width: 145px;
    font-weight: 500;
}
.datepicker .next, .datepicker .prev{
    font-size: 37px;
    font-weight: 400;
    line-height: 1em;
}

.datepicker table tr td.day.today,
.datepicker table tr td.day.today:hover{
    background: #6da041 !important;
    color: #fff !important;
}
.datepicker table tr td.day.focused,
.datepicker table tr td.day,
.datepicker table tr td.day:hover{
    color: #191923;
    padding: 5px;
}
/*------------BANNER SLIDER----------*/
.srchBnr{
    display: block;
    background: url("../images/top-banner.png") no-repeat top center/cover;
    margin-top: -27px;
    height: 600px;
}

.bnrInner {
    display: block;
    text-align: center;
    padding: 270px 0 0;
    max-width: 850px;
    margin: 0 auto;
    width: 100%;
}

.bnrInner h2{
    font:500 22px/1em 'Poppins', sans-serif;
    color: #12131d;
}

.bnrInner p{
    color: #737583;
    font-size:15px;
    max-width:800px;
    margin:0 auto;
}

.bnrInner .chfSrch{
    display: block;
    width: 100%;
    clear: both;
    float: left;
    margin-top: 25px;
}

.bnrInner .chfSrch .srchBox{
   max-width: 590px;
   width: 100%;
   border:solid 1px #d5d5e1;
   border-radius: 4px;
   margin: 0 auto;
   height: 50px;
   padding:8px 15px;
   position: relative;
}

.bnrInner .chfSrch .srchBox .district_selected{
    width:40%;
    border-right: solid 1px #d5d5e1;
    padding: 0px 4px;
    cursor: pointer;
    color: #737583;
    font-size: 14px;
    line-height: 2.6em;
    background: url(../images/dwn-arw.png) no-repeat center right 10px;
    text-align: left;
}

.srchBox .district_values {
    position: absolute;
    top: 53px;
    max-width: 239px;
    width: 100%;
    left:0;
    display: none;
    text-align: center;
    background: #fff;
    border-radius: 4px;
    border:solid 1px #d5d5e0;
    max-height:150px;
    overflow-x: auto; 
  }
  
.srchBox .district_item {
    padding: 5px;
    width: 100%;
    height: 30px;
    cursor: pointer;
  }

.bnrInner .chfSrch .srchBox input[type="text"]{
    background: url(../images/dwn-arw.png) no-repeat center right 10px;
    border:none;
    width: 40%;
    padding-left: 15px;
    height: 32px;
    color: #737583;
}

.bnrInner .chfSrch .srchBox input:focus{
    outline: none;
}

.bnrInner .chfSrch .srchBox input[type="submit"],
.appDwnld .appLink .appLinkBox .nmbrSec input[type="submit"]{
    width: 20%;
    height: 50px;
    border-radius: 0 4px 4px 0;
    position: absolute;
    right: 0;
    top: -1px;
    box-shadow: none;
    border: none;
    background: #ef4643 url("../images/mgfglass.png") no-repeat center left 12px;
    color: #fff;
    font:500 16px/2em 'Poppins', sans-serif;
    padding-left:25px;
}

.bnrInner .chfSrch .srchBox .advncSrch{
    position: absolute;
    right: -135px;
    top: 14px;
    color: #ef4643;
    text-decoration: underline;
    font-size: 14px;
    width: 134px;
    display: block;
    font-weight: 500;
    cursor: pointer;
}

#advncSrch .modal-body{
    padding:0 0 10px;
}

.schfld div[class^="qutBox-"] {
    display: inline-block;
    vertical-align: middle;
    margin: 10px 0 0;
}

.schfld div[class^="qutBox-"] .minus, .schfld div[class^="qutBox-"] .plus {
    display: inline-block;
    width: 30px;
    height: 30px;
    position: relative;
    vertical-align: top;
    cursor: pointer;
    background: #FFF;
    border-radius: 50%;
    border:solid 1px #ef4542;
}


.schfld div[class^="qutBox-"] .minus:before, .schfld div[class^="qutBox-"] .plus:before {
    font-size: 20px;
    position: absolute;
    left: 0;
    right:0;
    top: -1px;
    color: #ef4542;
    font-weight: 600;
    content: "\002b";
}

.schfld div[class^="qutBox-"] .minus:before {
    content: "\2212";
}

.schfld div[class^="qutBox-"] .qutInput {
    display: inline-block;
    width: 30px;
    height: 28px;
    vertical-align: top;
}

.schfld div[class^="qutBox-"] .qutInput input {
    background: none;
    border: none;
    line-height: 35px;
    height: 29px;
    text-align: center;
    padding: 0px 10px 0 5px;
    display: inline-block;
    width: 35px;
}



.advsrchBox h5{
    color: #ef4542;
    font:400 18px/1.5em 'Poppins', sans-serif;
    border-bottom: solid 1px #cdcfd9;
    padding: 18px 0;
}


.schfld {
    display: block;
    padding: 15px 0;
    border-bottom: solid 1px #cdcfd9;
}

.schfld h6, .schfld input[type="text"],
 .schfld select{
    color: #12131d;
    font-size: 16px;
    text-align: center;
    font-weight: 500;
}

.schfld input[type="text"],
 .schfld select{
    border:none;
    background: url("../images/ndwn-arw.png") no-repeat center right;
    max-width: 108px;
}
.schfld select{
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 114px;
    text-indent: 16px; 
    cursor: pointer;
}
.schfld select:focus,
.schfld select:hover, 
.schfld input[type="text"]{
    outline: none;
}
.schfld input[type="text"]::-webkit-input-placeholder{
    color: #12131d;
    font-weight: 500;
}

.priceBox {
    display: inline-block;
    text-align: center;
    width: 100%;
    margin-top: 8px;
    max-width: 250px;
}

.ui-slider {
    height: 5px; 
    background: #d2d2d2; 
    position: relative;
}
.ui-slider-range {
    background: #e9371b; 
    position: absolute; 
    height: 5px;
}
.ui-slider-handle {
    background: #fff;
    border:solid 2px #e9371b;
    border-radius: 50%; 
    position: absolute;
    height: 17px; 
    width: 17px; 
    top: -6px; 
    left: 0px; 
}

.priceBox .value {
    margin: 0px;
    font-size: 14px;
    font-weight: bold;
    background: none;
    border: none;
    display: inline-block;
    width: 100%;
    margin: 20px 0px 10px 0px;
    background: none !important;
}

.srchAply{
    display: block;
    clear: both;
    width: 100%;
    padding-right: 20px;
    margin: 17px 0;
}

.srchAply a{
    display: inline-block;
    background: #ef4542;
    color: #fff;
    font-size: 15px;
    width:120px;
    padding: 10px;
    text-align: center;
    border-radius: 4px;
    font-weight: 500;
}

#advncSrch .mdlclose{
    bottom: 9px;
    left:0;
    color: #737583;
    font-size: 15px;
    font-weight: 500;
    top: unset;
}

.steps{
    display: block;
    width:100%;
    clear: both;
    margin-top: 45px;
    float: left;
}

.steps ul li{
    display: block;
    float: left;
    background: url("../images/stp1.png") no-repeat center top 19px/contain;
    width:169px;
}

.steps ul li:last-child{
    background: url("../images/stplast.png") no-repeat center top 19px/contain;
}

.steps ul li .img{
    max-width: 60px;
    margin: 0 auto;
}
.steps ul li .img img{
    max-width: 100%;
}
.steps ul li .stepDtl{
    text-align: center;
}

.steps ul li .stepDtl h6{
    color: #12131d;
    font-size: 17px;
    font-weight: 500;
    margin-top: 15px
}

.steps ul li .stepDtl p{
    font-size: 13px;
    color: #737583;
    line-height: 1.5em;
    font-weight: 400;
}



/*-----------------------------WHAT HOT SECTION----------------------*/

.whatHot{
    background: #f3f3f3;
    margin-top: 50px;
    padding: 20px 0;
}
.whatHot .wtht,
.leftScrlBlock .chfrnking,
.forsrvices .dlymeal,
.forsrvices .wkendDish,
.forsrvices .nwchf,
.explore .globe{
    padding-left: 36px;
}


.whatHot .wtht{
    background: url(../images/flame.png) no-repeat left center/contain;
    }
.leftScrlBlock .chfrnking{
    background: url(../images/chfrnking.png) no-repeat left center/contain;
    }

.forsrvices .dlymeal{
    background: url(../images/dlymeal.png) no-repeat left center/contain;
    }

.forsrvices .wkendDish{
    background: url(../images/wkenddish.png) no-repeat left center/contain;
    }

.forsrvices .nwchf{
    background: url(../images/nwchf.png) no-repeat left center/contain;
    }

.forsrvices .picks{
    background: url(../images/picks.png) no-repeat left center/contain;
    padding-left: 40px;
}

.fturedTesti .fturedreview{
    background: url(../images/fturedreview.png) no-repeat left center/contain;
    padding-left: 50px;
}
.explore .globe{
    background: url(../images/globe.png) no-repeat left center/contain;
}


.whatHot .htdish {
    display: block;
    width: 132.5px;
    float: left;
    background: #fff;
    border-radius: 4px;
    overflow: hidden;
    margin: 0 18px 0 0;
    transition: all 0.3s linear;
}

.whatHot .htdish:hover {
    -webkit-box-shadow: 0px 4px 5px 0px rgba(129,130,139,0.49);
    -moz-box-shadow: 0px 4px 5px 0px rgba(129,130,139,0.49);
    box-shadow: 0px 4px 5px 0px rgba(129,130,139,0.49);
}
.whatHot .htdish  .img {
    width: 100%;
    max-height: 116px;
    overflow: hidden;
}

.whatHot .htdish img{
    max-width: 100%;
    transform: scale(1);
    transition: all 0.3s linear;
}

.whatHot .htdish:hover img{
    transform: scale(1.1);
}

.whatHot .htdish .dshDtl{
    padding:10px 8px 0 6px;
}

.whatHot .htdish .dshDtl .ttl{
    color: #12131d;
    font-size: 14px;
    line-height: 1.5em;
    font-weight: 500;
}

.whatHot .htdish .dshDtl p{
    color: #737583;
    font-size: 12px;
}

/*-----------------------MIDDLE PART---------------*/
.middlePart{
    padding:25px 0;
}

.leftScrlBlock .blckSec{
    display: block;
    width:100%;
    float: left;
    max-height: 1363px;
    overflow: auto;
    background: #12131d;
    padding: 8px 8px;
}

.blckSec .wklyBest{
    background: url(../images/wklybest.png) no-repeat left center/contain;
    padding-left: 26px;
}
.blckSec .mstviewed{
    background: url(../images/mstviewed.png) no-repeat left center/contain;
    padding-left: 35px;
}

.blckSec .mstbkmeked{
    background: url(../images/mstbkmeked.png) no-repeat left center/contain;
    padding-left: 19px;
}
.forsrvices {
    margin-bottom: 20px;
}
.forsrvices .owl-carousel{
    display: block;
    clear:both;
    overflow: hidden;
    height: 283px;
}


/*-----------------REVIEWS PART---------------*/

.fturedTesti{
    margin-top: 25px; 
}

.fturedTesti .reviewSlide{
    display: block;
    width:100%;
    float: left;
    clear:both;
    overflow: hidden;
    height: 300px;
}

.fturedTesti .reviewSlide .reviewBox {
    display: block;
    overflow: hidden;
    border-radius: 4px;
    border: solid 1px #d5d5e0;
    max-width:250px;
    overflow: hidden;
}

.fturedTesti .reviewSlide .reviewBox .review-img{
    width:100%;
    position: relative
}

.fturedTesti .reviewSlide .reviewBox .review-img .shade{
    width:100%;
    height: 100%;
    position: absolute;
    top:0;
    left:0;
    background: rgba(0,0,0,0.2);
}
.fturedTesti .reviewSlide .reviewBox .review-img img{
    max-width: 100%;
}
.fturedTesti .reviewSlide .reviewBox .review-img .dshDtl{
    position: absolute;
    bottom: 0px;
    left:10px;
    color: #fff;
}
.fturedTesti .reviewSlide .reviewBox .review-img .dshDtl a{
    color: #fff;
    font-size: 16px;
    font-weight: 500;
}

.fturedTesti .reviewSlide .reviewBox .review-img .dshDtl p{
    font-size: 13px;
    font-weight: 400;
}

.fturedTesti .reviewSlide .reviewBox .cstmr, 
.fturedTesti .reviewSlide .reviewBox .cmnts{
    display: block;
    width:100%;
    float: left;
    border-bottom:solid 1px #d5d5e0;
    padding:10px 8px;
}

.fturedTesti .reviewSlide .reviewBox .cstmr .img{
    width:62px !important;
    height: 62px ;
    display: block;
}

.fturedTesti .reviewSlide .reviewBox .cstmr .img img{
    max-width: 100%;
}

.fturedTesti .reviewSlide .reviewBox .cstmr .nmeRate{
    display: block;
    max-width:185px;
    padding: 11px 5px 5px 10px;
}

.fturedTesti .reviewSlide .reviewBox .cstmr .nmeRate h6{
    font-size: 14px;
    color: #12131d;
}
.fturedTesti .reviewSlide .reviewBox .cstmr .nmeRate .rate{
    color: #737583;
}
.fturedTesti .reviewSlide .reviewBox .cstmr .nmeRate .rate span{
    display: inline-block;
    background: #f6901e;
    color: #fff;
    border-radius: 5px;
    width: 54px;
    height: 19px;
    font-size: 12px;
    line-height: 1.6em;
    margin-top: 9px;
    position: relative;
    padding: 0 10px 0 0;
    text-align: center;
}

.fturedTesti .reviewSlide .reviewBox .cstmr .nmeRate .rate span::after {
    font-family: 'Glyphicons Halflings';
    content: "\e006";
    display: inline-block;
    padding-right: 3px;
    vertical-align: middle;
    position: absolute;
    right: 4px;
    top: 0px;
    font-size: 11px;
}

.cmnts.mrBottom{
    border-bottom: 0;
}

.fturedTesti .reviewSlide .reviewBox .cmnts .cmntTitle{
    font:500 15px/1.2em 'Poppins', sans-serif;
    height: 18px;
    overflow: hidden;
}

.fturedTesti .reviewSlide .reviewBox .cmnts p{
    font-size: 13px;
    line-height: 18px;
    height: 36px;
    overflow: hidden;
    color: #737583;
    margin: 5px 0;
}


/*------------------APP DOWNLOAD SECTION---------------*/

.appDwnld{
    background: #f3f3f3;
}


.appLink{
   position: relative;
    height: 100%;
}

.appDwnld .appLink .appLinkBox{
    width: 70%;
    max-width: 390px;
    height: 50%;
    margin: auto;
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;
}

.appDwnld .appLink .appLinkBox h5{
    font-size: 23px;
    line-height: 1.3em;
    font-weight: 600;
    color: #12131d;
    margin-bottom: 10px;
}

.appDwnld .appLink .appLinkBox p{
    font-size: 12px;
    color: #737583;
}

.appDwnld .appLink .appLinkBox .nmbrSec{
    position: relative;
    display: block;
    width:100%;
    float: left;
    margin-bottom: 20px;
}
.appDwnld .appLink .appLinkBox .nmbrSec input[type="number"]{
    border-radius: 4px;
    border:solid 1px #c8c8d5;
    color: #737583;
    font-size: 14px;
    line-height: 1.4em;;
    padding:8px 108px 8px 10px;
    background: none;
    width: 100%;
}

.appDwnld .appLink .appLinkBox .nmbrSec input[type="submit"]{
    background-image: none;
    width: 125px;
    height: 37px;
    top:0;
    padding: 0;
    font-size: 14px;
    font-weight: 400;
    cursor: pointer;
}

.mobox img{
    max-width: 100%;
}


/*-------------------EPLORE THE WORLD--------------*/
.explore{
    padding:20px 0 0 0;
}

.explore .secTitle{
    margin-bottom: 15px;
}
.explore .zigZag{
    display: block;
    position: relative;
    border-radius: 7px;
    width:100%;
    float: left;
    overflow: hidden;
    margin-bottom: 25px;
}

.explore .zigZag .shade{
    width:100%;
    height: 100%;
    position: absolute;
    top:0;
    left:0;
    background: rgba(0,0,0,0.2);
    transition: all 0.3s linear;
}

.explore .zigZag:hover .shade{
    background: rgba(0,0,0,0.4);
}
.explore .zigZag .cntryName, .explore .zigZag .cntrySrch{
    color: #fff;
    position: absolute;
    font-size: 19px;
    font-weight: 400;
}

.explore .zigZag .cntryName{
    top:10px;
    left:10px;
}

.explore .zigZag .cntrySrch{
    left:0;
    right:0;
    top:16px;
    bottom:0;
}

.explore .zigZag .cntrySrch .cntrysrchBox{
    position: relative;
    display: block;
    max-width: 300px;
    margin: 0 auto;
}

.explore .zigZag .cntrySrch .cntrysrchBox input[type="text"]{
    border:solid 1px #d5d5e0;
    border-radius: 4px;
    width:100%;
    font-size: 14px;
    color: #737583;
    line-height: 1.3em;
    padding:8px 10px;
}

.explore .zigZag .cntrySrch .cntrysrchBox input[type="submit"]{
    width: 50px;
    height: 36px;
    border-radius: 0 4px 4px 0;
    position: absolute;
    right: 0;
    top: 0px;
    box-shadow: none;
    border: none;
    background: #ef4643 url("../images/mgfglass.png") no-repeat center center;
    color: #fff;
}

.explore .zigZag img{
    max-width: 100%;
}


.explore .tall{
    height: 185px;
}

.explore .small{
    height: 111px;
}

/*-------------------Newsletter Subscrption --------------*/

.newsletter{
    background: #ef4542;
}

.newsletter .nwsBlock{
    display: block;
    width:100%;
    float: left;
    background:url("../images/halfplate.png") no-repeat top left 6%, url("../images/fullplate.png") no-repeat center right; 
    padding: 30px 0;
}

.newsletter .nwsBlock .newheading{
    color: #fff;
    display: block;
    width:100%;
    margin: 8px 0 10px;
    font-size: 20px;
    font-weight: 500;
}

.newsletter .nwsBlock  .cntrysrchBox{
    position: relative;
    width:100%;
    clear: both;
    max-width: 400px;
    margin:0 auto;
}

.newsletter .nwsBlock  .cntrysrchBox input[type="email"]{
    background: #fff;
    border:0;
    border-radius:4px;
    width:100%;
    color:#737583;
    font-size:14px;
    line-height:2.5em;
    padding: 3px 84px 3px 12px;
}

.newsletter .nwsBlock  .cntrysrchBox input[type="submit"]{
    background: #12131d;
    position: absolute;
    right:0;
    top:0;
    border-radius: 0 4px 4px 0;
    color: #fff;
    height: 41px;
    border: 0;
    padding: 0 17px;
}

.rfer {
    padding: 30px 0;
}

.rfer .referBlock p{
    font-size: 16px;
    font-weight: 600;
    margin: 12px 0 0;
    color: #12131d;
}

/*---------------MEDIA QUERIES--------*/
@media (min-width:2000px){
    .srchBnr{
        background: url("../images/top-banner.png") no-repeat top center/contain;
    }
}

@media (min-width:1366px){
    .container{
        width:1220px;
    }
}

@media (max-width:1220px){
    .whatHot .htdish{
        margin: 0 8px 0 0;
    }
    .forsrvices .owl-carousel{
        height: 306px;
    }
    
}

@media (max-width:1150px){
    .whatHot .htdish{
        margin: 0 8px 15px 0;
    }
    .explore .small {
        height: 100px;
    }
}

@media (max-width:1024px){
    .whatHot .htdish {
        margin: 0 1% 15px 0;
        width: 24%;
        height: 262px
    }

    .whatHot .htdish .img {
        max-height: 200px;
    }
    .explore .tall {
        height: 150px;
    }

    .explore .small {
        height: 91px;
    }
    .newsletter .nwsBlock{
        background: url("../images/halfplate.png") no-repeat top left, url("../images/fullplate.png") no-repeat center right;
    }
    .newsletter .nwsBlock .newheading,.newsletter .nwsBlock .cntrysrchBox{
        position: relative;
        z-index: 9;
    }

    .newsletter{
        position: relative;
    }
    .newsletter::before{
        content: "";
        width: 100%;
        height: 150px;
        background: rgba(0, 0, 0, 0.4);
        position: absolute;
        top: 0;
        left: 0;
        z-index: 2;
    }
    .appDwnld .appLink .appLinkBox{
        top: 35px;
        bottom: auto;
    }

    
}

@media (max-width:991px){

    .srchBnr{
        background-size: contain;
        margin-top: 25px;
    }
    .bnrInner {
        padding: 148px 0 0;
    }
    .srchBnr .container,  .srchBnr{
        height: auto !important;
    }

    .bnrInner p {
        max-width: 550px;
    }

    .bnrInner .chfSrch .srchBox{
        max-width: 446px;
    }

    .bnrInner .chfSrch .srchBox input[type="submit"]{
        background-position:center left 2px; 
    }

    .steps ul li{
        margin-bottom:20px; 
    }
    .appLink {
        padding: 35px 0 35px;
    }

    .appDwnld .appLink .appLinkBox{
        position: inherit;
    }

    .mobox{
        text-align: center;
    }
    .explore .zigZag{
        float: none;
        max-width: 450px;
        margin: 0 auto 25px;
    }
    .explore .tall, .explore .small {
        height: auto;
    }
   
   
    .whatHot .htdish {
        height: 223px;
    }
}

@media (max-width:767px){
   
    .srchBnr {
        background-size: contain;
        margin-top: 35px;
    }
    .bnrInner {
        padding: 105px 0 0;
    }

    .bnrInner h2{
      max-width: 350px;
      margin:0 auto;
    }
    .bnrInner p {
        max-width: 350px;
        margin-top: 20px;
    }
    .bnrInner .chfSrch .srchBox{
        border:none;
    }

    .bnrInner .chfSrch .srchBox .district_selected,
    .bnrInner .chfSrch .srchBox input[type="text"]{
        clear: both;
        border-right:none;
        max-width: 590px;
        width: 100%;
        border: solid 1px #d5d5e1;
        border-radius: 4px;
        margin: 0 auto 10px;
        height: 50px;
        padding: 8px 15px;
    }

    .srchBox .district_values {
        top: 59px;
        max-width:259px;
        left: 16px;
        z-index: 6;
        text-align: left;
    }
    .srchBox .district_item {
        padding: 5px 0 0 9px;
    }

    .bnrInner .chfSrch .srchBox input[type="submit"]{
        position: static;
        width: 100%;
        background-position: center left 18px;
        border-radius: 4px;
        max-width: 150px;
        margin-bottom:10px; 
    }
    .bnrInner .chfSrch .srchBox .advncSrch {
        right: 11px;
        top: 144px;
    }
    .steps {
        margin-top: 75px;
    }

    .whatHot .htdish {
        margin: 0 2% 20px 0;
        width: 48%;
        height: 279px;
    }
    .forsrvices {
        margin-bottom: 0px;
    }

   .secTitle a, .smlTitle a{
       display: none;
   }
}
@media (max-width:568px){
    .secTitle {
        font: 600 17px/1.5em'Poppins', sans-serif;
        color: #12131d;
    }
    .srchBnr {
    margin-top: 51px;
    }
    .bnrInner {
        padding: 71px 0 0;
    }
    .bnrInner h2 {
        max-width: 260px;
    }

    .bnrInner .chfSrch .srchBox input[type="submit"]{
        float: left;
        max-width: 120px;
        background-position: center left 12px;
    }

    .steps {
        margin-top: 75px;
        text-align: center;
    }

    .steps ul{
        display: inline-table;
        max-width: 360px;
    }
    .forsrvices .chfBoxOne{
        margin: 0 auto;
        float: none;
    }
    .forsrvices .chfBoxOne .img {
        height: 160px;
    }

    .fturedTesti .reviewSlide .reviewBox{
        margin: 0 auto;
    }
    .appDwnld .appLink .appLinkBox .nmbrSec input[type="submit"] {
        width: 90px;
    }

    .fturedTesti, .secTitle, .smlTitle{
        margin-top: 0;
    }
}
@media (max-width:480px){
    .whatHot .htdish {
        height: 212px;
    }
    .bnrInner h2 {
        max-width: 241px;
    }
}
@media (max-width:360px){
    .steps ul{
        max-width: 169px;
    }
}

