.mykitchenPage {
    margin-top: 155px;
}

.mykitchenPage h1{
    font:600 20px/1.5em 'Poppins', sans-serif;
}


.mykitchenPage h1 a{
    font-size: 14px;
    color: #ff7f27;
    font-weight: 500;
    text-decoration: underline;
    display: inline-block;
    margin-left:20px;
}

.mykitchenPage p{
    font:400 16px/1.5em 'Poppins', sans-serif;
}

.mykitchenPage p span{
    font-size: 18px;
}

.KtchnNav{
    display: block;
    width:100%;
    float: left;
}

.KtchnNav ul li a{
    display: block;
    width:100%;
    background: #f6f4f4;
    color: #737583;
    font-size: 15px;
    line-height: 3em;
    position: relative;
    border-bottom:solid 1px #fff;
    padding: 0 0 0 42px; 
    height: 45px;
    font-weight: 500;
}

.KtchnNav ul li:hover a,
.KtchnNav ul li.active a{
    background: #ef4542;
    color: #fff;
}

.KtchnNav ul li a::before{
    position: absolute;
    left:5px;
    top:8px;
    width: 32px;
    height:29px;
    content: "";
}

.KtchnNav ul li.kitchen a::before{
    background: url("../images/kitchen-gray.png") no-repeat center center;
}

.KtchnNav ul li.kitchen:hover a::before,
.KtchnNav ul li.kitchen.active a::before{
    background: url("../images/kitchen-white.png") no-repeat center center;
}

.KtchnNav ul li.profile a::before{
    background: url("../images/user-gray.png") no-repeat center center;
}

.KtchnNav ul li.profile:hover a::before,
.KtchnNav ul li.profile.active a::before{
    background: url("../images/user-white.png") no-repeat center center;
}

.KtchnNav ul li.address a::before{
    background: url("../images/loc.png") no-repeat center center;
}

.KtchnNav ul li.address:hover a::before,
.KtchnNav ul li.address.active a::before{
    background: url("../images/loc-white.png") no-repeat center center;
}

.KtchnNav ul li.pwreset a::before{
    background: url("../images/lock.png") no-repeat center center;
}

.KtchnNav ul li.pwreset:hover a::before,
.KtchnNav ul li.pwreset.active a::before{
    background: url("../images/lock-white.png") no-repeat center center;
}

.KtchnNav ul li.photos a::before{
    background: url("../images/pic-gray.png") no-repeat center center;
}

.KtchnNav ul li.photos:hover a::before,
.KtchnNav ul li.photos.active a::before{
    background: url("../images/pic-white.png") no-repeat center center;
}


.KtchnNav ul li.ktchnmenu a::before{
    background: url("../images/menu-gray.png") no-repeat center center;
}

.KtchnNav ul li.ktchnmenu:hover a::before,
.KtchnNav ul li.ktchnmenu.active a::before{
    background: url("../images/menu-white.png") no-repeat center center;
}

.KtchnNav ul li.preferences a::before{
    background: url("../images/preferences.png") no-repeat center center;
}

.KtchnNav ul li.preferences:hover a::before,
.KtchnNav ul li.preferences.active a::before{
    background: url("../images/preferences-white.png") no-repeat center center;
}

.kithchenForm{
    display: block;
    width:100%;
    float: left;
}

.kithchenForm .leftSec {
    float: left;
    width: 70%;
}

.kithchenForm .rightSec {
    float: left;
    width: 30%;
}

.kithchenForm .rightSec.fileUpload {
    clear: none;
}
.kithchenForm .rightSec.fileUpload label{
    margin: 0 auto;
    background: none;
    color: #ef4542;
    font-weight: 500;
}
.kithchenForm form h4,
.kithchenForm form label{
    display: block;
    width:100%;
    clear:both;
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 8px;
}

.kithchenForm form h4 span{ 
    position: relative;
    display: inline-block;
}
.kithchenForm form h4 span .tooltiptext{
    visibility: hidden;
    opacity: 0;
    background: rgba(0,0,0,0.7);
    position: absolute;
    top: -25px;
    left: -67px;
    width: 150px;
    color: #fff;
    font-weight: 500;
    font-size: 13px;
    padding: 5px;
}
.kithchenForm form h4 span .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}
.kithchenForm form h4 span:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}

.kithchenForm form .input{
    border:solid 1px #d5d5e0;
    border-radius: 3px;
    padding: 0 10px;
    width:100%;
    max-width:571px;
    position: relative;
    float: left;
    height: 40px;
    margin-bottom: 15px;
}

.kithchenForm form select.input{
    cursor: pointer;
}

.kithchenForm form .ntce{
    background: url(../images/lock.png) no-repeat top left;
    font-size: 13px;
    display: inline-block;
    clear: both;
    padding-left: 17px;
    margin-bottom: 5px;
}

.input .radio {
    opacity: 0;
    display: inline-block;
    position: absolute;
}

.input.serviceBlck .radiobLable, .input .slctTime {
    display: block;
    cursor: pointer;
    color: #ccced6;
    font: 500 14px/1.9em 'Poppins', sans-serif;
}

.input .radiobLable{
    padding: 5px 0 0;
    margin:1px 12px 0px 22px;
    max-width: 200px;
    float: left;
    }
.input.serviceBlck input[type=checkbox] ~ label:before {
        top: 12px;
        left: 10px;
    }
.input.serviceBlck input[type=checkbox] ~ label:after {
        top: 15px;
        left: 12px;
    }
.serviceBlck input[type=checkbox] ~ label:before {
    content: "";
    display: inline-block;
    position: absolute;
    top: 8px;
    left: 8px;
    height: 15px;
    width: 16px;
    border: solid 1px #ccced6;
}

.serviceBlck input[type=checkbox] ~ label:after {
    content: '';
    width: 12px;
    height: 6px;
    position: absolute;
    border: 2px solid #fa471e;
    border-top: none;
    border-right: none;
    background: transparent;
    opacity: 0;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.serviceBlck input[type=checkbox]:checked ~ label:before {
    border: solid 1px #f92929;
}

.serviceBlck input[type=checkbox]:checked ~ label:after {
    opacity: 1;
}



.serviceBlck input[type=checkbox]:checked ~ .slctTime,
.serviceBlck input[type=checkbox]:checked ~ label{
    color:#12131d;
}


.input .slctTime{
    display: block;
    height: 40px;
    border: none;
    border-left: solid 1px #d5d5e0;
    float: right;
    background: url(../images/select-arrow.png) no-repeat center right 5%;
    -webkit-appearance: none;
    -moz-appearance: none;
    outline: 0;
    padding: 0 16px;
    width: 100px;
}

.serviceBlck input[type=checkbox]:checked ~ .slctTime{
    background: url(../images/select-arrow-selected.png) no-repeat center right 5%;
}

.serviceBlck.prfrLang {
    margin-bottom: 15px;
}
.serviceBlck.prfrLang li{
    width: 100px;
    text-align: center;
    padding: 1px 0 0 0;
    margin-right: 28px;
 }
.serviceBlck .radiobLable {
    font: 500 14px/1.7em 'Poppins', sans-serif;
    color: #12131d;
    padding-left: 4px;
    cursor: pointer;
 }
 .serviceBlck.prfrLang input[type=checkbox]{
    display: none;
}

.serviceBlck.prfrLang input[type=radio] {
    visibility:hidden;
}
 .serviceBlck.prfrLang .radiobLable {
    margin: 0;
    padding: 7px 0;
    color: #737583;
    width:100%;
 }

 .serviceBlck.srvcType .radiobLable {
     padding-left:20px;
 }
 .serviceBlck.prfrLang input[type=checkbox]:checked ~ label,
 .serviceBlck.prfrLang input[type=radio]:checked ~ label {
    color: #fff;
}
.serviceBlck.prfrLang input[type=radio] ~ label {
    border: solid 1px #d5d5e0;
    border-radius: 3px;
}
.serviceBlck.prfrLang input[type=radio]:checked ~ label {
    background: #12131d;
}
 .serviceBlck.prfrLang input[type=checkbox] ~ label:before,
 .serviceBlck.prfrLang input[type=radio] ~ label:before{
    width: 100px;
    height: 33px;
    border: solid 1px #d5d5e0;
    border-radius:3px; 
 }

 .serviceBlck.prfrLang input[type=checkbox]:checked ~ label:before ,
 .serviceBlck.prfrLang input[type=radio]:checked ~ label:before {
    border: solid 1px #12131d;
}
 .serviceBlck.prfrLang input[type=checkbox] ~ label:after,
 .serviceBlck.prfrLang input[type=radio] ~ label:after{
     border:none;
     background: #12131d;
     width: 100px;
     height: 33px;
     transform: rotate(0);
     top: 3px;
     left: 0px;
     z-index: -1;
     border-radius: 3px;
 }
 .serviceBlck input[type=checkbox] {
     visibility: hidden;
 }
 .serviceBlck.srvcType input[type=checkbox] {
    display:none;
}
 .serviceBlck input[type=checkbox] ~ label:before {
    top: 3px;
    left: 1px;
}
 .serviceBlck input[type=checkbox] ~ label:after {
    top: 6px;
    left: 3px;
}
.serviceBlck {
    display: block;
    width: 100%;
    float: left;
}

.serviceBlck li {
    position: relative;
    max-width: 250px;
    margin: 0px 8px 5px 0px;
    float: left;    
    padding: 0 15px 0 5px;
}
.frmHalf {
    width: 50%;
    max-width: 275px;
    margin-right: 22px;
}
.kithchenForm .leftSec .frmHalf{
    max-width: 268px;
    margin-right: 20px;
}

.input button.dropdown-toggle {
    width: 100% !important;
    text-align: left !important;
    margin: 0  !important;
    background: none  !important;
    outline: none;
    padding-left: 0;
    cursor: pointer;
}

.input button.dropdown-toggle:focus {
    box-shadow: none;
}

.input button.dropdown-toggle+ul {
    width: 100%;
}

.input button.dropdown-toggle+ul li{
    padding: 0 8px;
}

.input button::after{
    right: 6px;
    content: "";
    position: absolute;
    top: 17px;
}

textarea{
    resize: none;
    border: solid 1px #d5d5e0;
    border-radius: 3px;
    padding: 0 10px;
    width: 100%;
    max-width: 571px;
    position: relative;
    float: left;
    height: 110px;
    margin-bottom: 15px;
}




.sbmt-row{
    max-width: 571px;
    clear: both;
}

.kithchenForm .leftSec textarea,
.kithchenForm form .leftSec .input{
    max-width: 554px;
}
.picUploadPage .sbmt-row{
    max-width: 100%;
}
.sbmt-row .sbmt,
.sbmt-row .prvw,
.fileUpload label,
.fileUpload .addMenu,
.addDish {
    display: block;
    color: #fff;
    text-align: center;
    width:100px;
    border-radius: 3px;
    border:none;
    padding: 12px 5px;
    cursor: pointer;
    margin-bottom:35px; 
}


.addDish:hover {
    color: #fff;
}

.sbmt-row .sbmt,
.fileUpload .addMenu{
    background: #f92929;
}

.sbmt-row .prvw{
    background: #ff7f27;
}

.ChefImage {
    width: 114px;
    margin: 0 auto;
    height: 114px;
    border-radius: 500%;
    overflow: hidden;
}

.ChefImage+a{
    text-align: center;
    display: block;
    width:100%;
}

.isdCode select.input{
    max-width: 159px;
    float: left;
}

.isdCode input.input {
    max-width: 276px;
    margin-left: 8px;
}

.fileUpload{
    width: 100%;
    clear: both;
    float: left;
}

.fileUpload input[type="file"]{
    display: none;
}

.fileUpload label,
.fileUpload .addMenu,
.addDish {
    background:#f92929;
    width:138px !important;
    margin-bottom:5px; 
}

.fileUpload p{
    font-size: 13px;
    line-height: 17px;
}
.uploadedPics{
    width: 100%;
    max-width: 270px;
    overflow: hidden;
    text-align: center;
    margin: 0 0 20px 0;
}

.uploadedPics img{
    max-width: 100%;
    display: inline;
}

.menuPrice .input{
    max-width: 245px !important;
    border-radius: 3px 0px 0px 3px !important;
}

.menuPrice .flagstrap {
    max-width: 100px;
}

.menuPrice .flagstrap button{
    max-width: 100%;
    padding: .55rem 0.5rem;
    border-radius: 0 3px 3px 0 !important;
    background: none;
    border: solid 1px #d5d5e0;
    border-left: none;
}

.menuModel h2{
    font-size: 20px;
}
.kithchenForm .menuModel  form label,
.kithchenForm .menuModel  form h4{
    font-weight:500;
}
.dishImg input[type="file"]{
    display: none;
}

.dishImg label{
    display: block;
    width:100%;
    background: #ebebef;
    border-radius: 3px;
    text-align: center;
    font-size: 14px;
    line-height: 9em;
    float: left;
    margin-top: 23px;
    cursor: pointer;
}

.menuPrice .show>.dropdown-menu{
    padding-left:10px;
}
.menuPrice .show>.dropdown-menu li a{
    display: block;
}

.serviceBlck.menuService input[type=checkbox] {
    display:none;
}
.serviceBlck.menuService input[type=checkbox] ~ label:before,
.serviceBlck.menuService input[type=checkbox]:checked ~ label:before,
.serviceBlck.menuService input[type=checkbox]:checked ~ label:after{
    border:none;
}
.serviceBlck.menuService input[type=checkbox] ~ label{
    border:solid 1px #d5d5e0;
    color: #737583;
    padding: 3px 10px;
    font-weight: 500;
    line-height: 2em;
    border-radius: 3px;
}
.serviceBlck.menuService input[type=checkbox]:checked ~ label{
    background: #fa471e;
    border:solid 1px #fa471e;
    color: #fff;
}

.serviceBlck.menuService li {
    max-width: 212px;
    margin: 0px 0px 5px 0px;
    padding: 0 3px 0 5px;
}
.serviceBlck.menuService.utensilList input[type=checkbox] ~ label{
    background: #e8eaf0;
    border: none;
    border-radius: 16px;
}

.serviceBlck.menuService.utensilList input[type=checkbox]:checked ~ label{
    background: #fa471e;
}

.serviceBlck.menuService.utensilList li{
    max-width: inherit;
}

.untensilbox{
    clear:both;
    float: left;
    padding: 10px 8px;
    border: solid 1px #d5d5e0;
    max-height: 257px;
    overflow: auto;
}

.cusnSub .input{
    height: auto !important;
}

.cusnSub .serviceBlck li{
    color: #12131d;
    width: 100%;
}

.cusnSub .serviceBlck li:first-child{
    padding-left:0px;
    font-weight: 500;
}

.cusnSub .serviceBlck input[type=checkbox] ~ label:before {
    content: "";
    display: inline-block;
    position: absolute;
    top: 8px;
    left: 8px;
    height: 15px;
    width: 16px;
    border: solid 1px #ccced6;
}

.cusnSub .serviceBlck input[type=checkbox] ~ label:after {
    content: '';
    width: 12px;
    height: 6px;
    position: absolute;
    border: 2px solid #fa471e;
    border-top: none;
    border-right: none;
    background: transparent;
    opacity: 0;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.cusnSub .serviceBlck input[type=checkbox] ~ label:before {
    top: 3px;
    left: 1px;
}

.cusnSub .serviceBlck input[type=checkbox]:checked ~ label:before {
    border: solid 1px #f92929;
}

.cusnSub .serviceBlck input[type=checkbox] ~ label:after {
    top: 6px;
    left: 3px;
}

.cusnSub .serviceBlck input[type=checkbox]:checked ~ label:after {
    opacity: 1;
}

.cusnSub .input .radiobLable {
    padding: 0px 0 0;
    margin: 0px 12px 0px 22px;
}

.addMenuDish {
    background: #f92929;
    margin-bottom: 5px;
    display: block;
    color: #fff;
    text-align: center;
    padding: 12px 5px;
    width: 110px;
    border: none;
    border-radius: 3px;
}

.addMenuDish:hover{
    color: #fff;
}

.addADishBlock h4{
    font-size: 17px;
    font-weight: 600;
}

.cat-box h4{
    font-size: 13px;
    font-weight: 600;
}

.cat-box  .subCatList li{
    display: inline-block;
    background: #e8eaf0;
    border-radius: 30px;
    text-align: center;
    padding: 0 10px;
    line-height: 2em;
    font-size: 12px;
    margin-right:8px; 
}

.cat-box  .subCatList li span.txt{
    line-height: 2em;
    font-size: 12px;
    color: #737583;
    margin-right:5px; 
}

.cat-box  .subCatList li span.close{
    font-weight: 500;
    font-size: 15px;
    line-height: 1.6em;
}

.kithchenForm.picUploadPage {
    min-height: 450px;
}
.selectedCatBlock {
    max-height: 271px;
    overflow: auto;
}

.menuItemBlock{
    display: block;
    width:100%;
    clear: both;
    float: left;
    border:solid 1px #d5d5e0;
    border-radius: 4px;
    margin-bottom: 25px;
}

.menuItemBlock:hover{
    border:solid 1px #ef4542;
}

.menuItemBlock .itmeDetail,
.menuItemBlock .itemIng{
    float: left;
    display: block;
}

.menuItemBlock .itmeDetail{
    width:55%;
    padding: 10px 0 0 10px;
}

.menuItemBlock .itmeDetail .ItmName{
    font-size: 16px;
    font-weight: 500;
}

.menuItemBlock .itmeDetail .ItmName+p,
.menuItemBlock .itmeDetail .srvcType h5+p{
    font-size: 14px;
}

.menuItemBlock .itmeDetail .srvcType h5{
    font-size: 14px;
    color: #12131d;
    font-weight: 500;
}
.menuItemBlock .itemIng{
    width:45%;
    padding: 10px 10px 0 0px;
}

.menuItemBlock .itemIng .img{
    width:100%;
    max-width: 203px;
    border-radius: 3px;
    overflow:hidden;
    margin: 0 auto; 
}
.menuItemBlock .itemIng .img img{
    max-width: 100%;
}

.menuItemOpt{
    clear:both;
    border-top: solid 1px #d5d5e0;
    float: left;
    width: 100%;
}

.menuItemOpt ul li{
    width: 20%;
    float: left;
    text-align: center;
    border-right: solid 1px #d5d5e0;
}
.menuItemOpt ul li:last-child{
    border-right: none;
}

.menuItemOpt ul li a{
    display: block;
    font-size: 13px;
    line-height: 2.3em;
    color: #737583;
    width: 100%;
}

.menuItemOpt ul li a:hover, .menuItemOpt ul li a.draftmenu{
    background: #737583;
    color: #fff;
}
.menuItemBlock.onlyDish:hover{
    border:solid 1px #d5d5e0;
}
.menuItemBlock.onlyDish .menuItemOpt{
    margin-top:15px; 
    border-bottom: solid 1px #d5d5e0;
}

.menuItemBlock.onlyDish .fileUpload {
    margin:10px 0 !important;
    padding:0 10px 0 0;
}


/*--------------EDIT PROFILE PAGE------------*/

.myProfileEditPage{
    margin-top:185px; 
}


.myProfileEditPage .editprofile h2,
.myProfileEditPage .socialprofile h2{
    font-size: 21px;
    font-weight: 600;
    margin-bottom: 20px;
}

.kithchenForm.editprofile form h4{
    font-weight: 500;
}


.kithchenForm.editprofile .sbmt-row .sbmt{
    width:110px;
}

.kithchenForm.editprofile .leftSec.prflChngePw{
    max-width: 320px;
    min-height: 450px;
}

.kithchenForm.editprofile .leftSec.prflChngePw .form-group{
    position: relative;
}
.kithchenForm.editprofile .leftSec.prflChngePw .form-group .fgpw{
    position: absolute;
    right: -114px;
    top: 34px;
    font-size: 13px;
    font-weight: 400;
}
.kithchenForm.editprofile .leftSec.prflChngePw .sbmt-row .sbmt{
    width:170px;
}
.kithchenForm.socialprofile .leftSec{
    width:100%;
}
.socialprofile .leftSec .lginFb{
    display: block;
    background: #405794;
    border-radius: 4px;
    color: #fff;
    font-size: 13px;
    text-align: center;
    max-width: 250px;
    width:100%;
    line-height: 3em;
    margin-bottom: 20px;
}



/*----------SWITCH BUTTON-------*/
.checkbox-example-wrap {
    width: 260px;
    margin: 20px;
  }
  .checkbox-example-wrap p {
    padding: 0 20px;
    color: #444;
  }
  .checkbox-example {
    position: relative;
    margin: 0px;
    display: block;
    width: 50%;
  }
  input[type="checkbox"].checkbox-toggle {
    position: absolute;
    left: -9999px;
    visibility: hidden;
  }
  label.checkbox-toggle-label {
    color: #727483;
    padding: 8px 0 0 0;
  }
  label.checkbox-toggle-label span.on {
    position: absolute;
    top: 9px;
    right: 76px;
    display: none;
  }
  label.checkbox-toggle-label span.off {
    position: absolute;
    top: 9px;
    right: 38px;
    display: inline-block;
  }
  label.checkbox-toggle-label:before {
    content: '';
    background: #ccccce;
    width: 80px;
    height: 36px;
    position: absolute;
    top: 0px;
    right: 30px;
  }
  label.checkbox-toggle-label:after {
    content: '';
    position: absolute;
    right: 83px;
    top: 8px;
    width: 20px;
    height: 20px;
    background: #737583;
    transition: 0.1s ease-in;
  }
  input.checkbox-toggle {
    visibility: hidden;
  }
  input.checkbox-toggle:checked + label.checkbox-toggle-label:after {
    opacity: 1;
    transform: translateX(43px);
    background: #fff;
  }
  input.checkbox-toggle:checked + label.checkbox-toggle-label:before {
    background: #f92929;
    border: 1px solid #f92929;
  }
  input.checkbox-toggle:checked + label.checkbox-toggle-label span{
    color: #fff;
  }
  input.checkbox-toggle:checked + label.checkbox-toggle-label{
      color: #f92929;
  }
  input.checkbox-toggle:checked + label.checkbox-toggle-label span.on {
    display: inline-block;
  }
  input.checkbox-toggle:checked + label.checkbox-toggle-label span.off {
    display: none;
  }
  label.checkbox-toggle-pill-label:before {
    border-radius: 20px;
  }
  label.checkbox-toggle-pill-label:after {
    border-radius: 50%;
  }

  .socialprofile .leftSec .sbmt-row .sbmt {
      width:110px;
  }

  .kithchenForm.socialprofile {
      height: 476px;
  }
  .serviceBlck.prfrLang.instaLogin{
      position: relative;
  }

  .serviceBlck.prfrLang.instaLogin .radiobLable {
    margin: 0;
    padding: 7px 0;
    color: #737583;
    width: 220px;
    border-radius: 5px;
    text-align: center;    
}

  .serviceBlck.prfrLang.instaLogin input[type=checkbox] ~ label:before {
    width: 220px;
    height: 37px;
    border: solid 1px #d5d5e0;
    border-radius: 3px;
    top: 0px;
    left: 0px;
}

.serviceBlck.prfrLang.instaLogin input[type=checkbox] ~ label {
    background: #5ba0ca;
    color: #fff;
}
  .serviceBlck.prfrLang.instaLogin input[type=checkbox]:checked ~ label{
    background: #146494;
    color: #fff;
  }

@media (max-width:991px){
    .kithchenForm .leftSec .frmHalf{
        max-width: 100%;
        width: 100%;
        margin-right:0; 
    }
}
@media (max-width:767px){

    .uploadedPics{
        max-width:100%;
    }
    .mykitchenPage, .myProfileEditPage {
        margin-top: 98px;
    }

    .kithchenForm .leftSec, .rightSec.fileUpload, .sbmt-row{
        width:100%;
    }

    .frmHalf {
        width: 100%;
        max-width: 100%;
    }

    .KtchnNav {
        margin-bottom: 25px;
    }
}

@media (min-width: 576px){
    .modal-dialog {
        max-width: 567px;
    }
}
