/*----PRODUCT LISTING-----*/

.product-view{
    margin-top: 142px;
}

.product-view .prdct-list .prdct-img{
    max-height: 335px;
}

.product-view .prdct-rates p a {
    font: 500 14px/1.6em 'Raleway', sans-serif;
}

.product-view .prdct-rates p.price .currentPrice {
    font-size: 15px;
}

.product-view .prdct-rates p.price .old-price {
margin-left: 3px;
}

.sideBar {
    padding: 10px 0px;
    display: block;
    width: 100%;
    float: left;
}
.filters {
    font: 700 15px/3em 'Raleway', sans-serif;
    display: block;
    width: 100%;
    border-bottom: solid 1px #eee;
    float: left;
    padding:0 0 8px 0;
    color: #222;
}

.filterBlock {
    display: block;
    width: 100%;
    float: left;
    clear: both;
    margin: 20px 0;
    border-bottom: solid 1px #d5d5d5;
}

.filterBlock h4, .product-category li a{
    font:700 13px/2.1em 'Raleway', sans-serif;
    color: #222;
    display: block;
}

.filterBlock h4{
    padding-left: 10px;
}

.priceBox {
    display: inline-block;
    text-align: center;
    width: 95%;
    padding: 10px 12px;
    margin-top: 8px;
}

.ui-slider {
    height: 5px; 
    background: #d2d2d2; 
    position: relative;
}
.ui-slider-range {
    background: #e9371b; 
    position: absolute; 
    height: 5px;
}
.ui-slider-handle {
    background: #fff;
    border:solid 2px #e9371b;
    border-radius: 50%; 
    position: absolute;
    height: 17px; 
    width: 17px; 
    top: -6px; 
    left: 0px; 
}

.priceBox .value {
    margin: 0px;
    font-size: 14px;
    font-weight: bold;
    background: none;
    border: none;
    display: inline-block;
    width: 100%;
    margin: 20px 0px 10px 0px;
}

.product-category{
    margin-top:-20px;
    list-style: none; 
}

.product-category ul {
  display: none;
}

.product-category > li{
     border: solid 1px #eee;
     border-top:none;
     padding:15px 0 15px 10px; 
     float: left;
     width: 100%;
}

.product-category > li:last-child{
    border-bottom: none;
}


.product-category .dir:after {
  content:"\e114";
  font-size: 15px;
  position: absolute;
  right: 24px;
  font-family: 'Glyphicons Halflings';
  color: #222222;
}
.product-category .dir.hide:after {
content:"\2212";
  font-family: 'Glyphicons Halflings';
}

.product-category .dir.hide, .faQtion .dir.hide{
    display: block !important;
}
.product-category ul {padding-top: 15px; list-style: none;}
.product-category ul li.li-check {
    position: relative;
    font-size: 14px;
    line-height: 28px;
    margin-bottom: 10px;
}
.product-category ul li.li-check input[type=checkbox] {
    visibility: hidden;
}

.product-category ul li.li-check label {
    width: 20px;
    height: 17px;
    cursor: pointer;
    position: absolute;
    left: 4px;
    top: 4px;
    border:solid 1px #757575;
}
.product-category ul li.li-check label:after {
    content: '';
    width: 21px;
    height: 7px;
    position: absolute;
    top: 0px;
    left: 3px;
    border: 2px solid #ff2b2b;
    border-top: none;
    border-right: none;
    background: transparent;
    opacity: 0;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.product-category ul li.li-check input[type=checkbox][id^="checkIt-"]:checked + label{
    background: #fff;
}

.product-category ul li.li-check input[type=checkbox][id^="checkIt-"]:checked + label:after {
    opacity: 1;
}

.product-page{
    border-top:solid 1px #ddd;
}


.pagination>li>a, .pagination>li>span{
    color:#1e1e1e;
}

.prdct.prdct-list {
    margin-bottom: 25px;
}


.filterBlock ul li.li-check {
    position: relative;
    font-size: 13px;
    font-weight: 500;
    line-height: 28px;
    display: block;
    width: 100%;
    float: left;
    margin-bottom: 5px;
    color: #555;
}
.filterBlock ul li.li-check input[type=checkbox] {
    visibility: hidden;
}

.filterBlock ul li.li-check label {
    width: 13px;
    height: 13px;
    cursor: pointer;
    position: absolute;
    left: 4px;
    top: 7px;
    border:solid 1px #bcbcbc;
    margin-bottom: 0;
    background: #eee;
    border-radius: 2px;
}
.filterBlock ul li.li-check label:after {
    content: '';
    width: 12px;
    height: 6px;
    position: absolute;
    top: 1px;
    left: 0px;
    border: 2px solid #fa471e;
    border-top: none;
    border-right: none;
    background: transparent;
    opacity: 0;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

/*.filterBlock ul li.li-check input[type=checkbox]#checkIt:checked + label{
    background: #231f20;
}
*/
.filterBlock ul li.li-check input[type=checkbox][id^="checkIt-"]:checked + label{
    background: #fff;
}

.filterBlock ul li.li-check input[type=checkbox][id^="checkIt-"]:checked + label:after {
    opacity: 1;
}
ul.fbrc {
    display: block;
}
.rating-bar{
  background:#dddddd;
  width: 145px;
  margin: 6px 0 0 4px;
}

.rating-bar.fv-str{
  margin: 6px 0 0 33px;
}

.rating-bar span{
  display:block;
  height:11px;
}


.rate-1{ width:10%; }
.rate-2{ width:20%; }
.rate-3{ width:30%; }
.rate-4{ width:40%; }
.rate-5{ width:50%; }
.rate-6{ width:60%; }
.rate-7{ width:70%; }
.rate-8{ width:80%; }
.rate-9{ width:90%; }
.rate-10{ width:100%; }


.animate{
  animation: progress 2s linear;
  -moz-animation: progress 2s linear;
  -webkit-animation: progress 2s linear;
  -ms-animation: progress 2s linear;
  -o-animation: progress 2s linear;
}
/* Span fills 100% of parent div (.rate-n) which may be 10-100% of the width of black bar (.rating) */
@-webkit-keyframes progress {
  from { width:0% }
  to { width:100%; }
}
@-moz-keyframes progress {
  from { width:0% }
  to { width:100%; }
}
@-ms-keyframes progress {
  from { width:0% }
  to { width:100%; }
}
@-o-keyframes progress {
  from { width:0% }
  to { width:100%; }
}
@keyframes progress {
  from { width:0% }
  to { width:100%; }
}

.rating-bar .red{ background:#fa471e;}


.pr-list-title {
    display: block;
    margin-top: 30px;
    float: left;
    width: 100%;
    border-bottom: solid 1px #ddd;
    padding-bottom: 15px;
}

.game-name{
    font:700 24px/30px 'Raleway', sans-serif;
    color: #333;
}
.game-types a{
    float: left;
    margin-right: 5px;
}

.game-types a.all{
    color:#ff2b2b;
    display: inline-block;
    border:solid 1px #ff2b2b;
    padding:5px;
    margin-top: 1px;
    height: 30px;
    width: 84px;
}

.pr-des {
    clear: both;
    float: left;
    width: 100%;
    margin-top: 25px;
}

.showTitle {
    padding: 15px 0 8px;
    font-size: 18px;
    font-weight: 600;
    color: #1a3158;
}
.filterBy {
    padding: 15px 0 8px;
    text-align: right;
    font-size: 13px;
}
.filterBy select.custome {
    margin-left: 10px;
    background: #fff;
    border:solid 1px #ddd;
    padding:5px 8px;
    outline: none;
    font-size: 12px;
}


.productListing{
   padding:15px 0;
}
.discImg{
    display: block;
    margin-top:15px; 
}
.discImg img{
    max-width: 100%;
}



