.prdct.prdct-list {
    max-width: 310px;
}
.prdct.prdct-list {
    margin-bottom: 25px;
}

.prdct-img {
    position: relative;
    overflow: hidden;
    text-align: center;
}

.prdct-img .img {
    display: inline-block;
    max-width: 100%;
    background: #000;
}

.prdct .prdct-img .img img {
    transition: all 0.2s linear;
    max-width: 100%;
}

.prdct.prdct-list .prdct-img .wish-compare {
    max-width: 312px;
}
.prdct.prdct-list:hover .wish-compare {
    display: block;
    bottom: 0px;
}
.item .prdct-img .wish-compare {
    background: rgba(0, 0, 0, 0.8) none repeat scroll 0 0;
    max-width: 307px;
    position: absolute;
    text-align: center;
    width: 100%;
    bottom: -50px;
    color: #fff;
    transition: all 0.1s linear;
}

.wish-compare ul li:first-child {
    border-right: solid 1px #fff;
}

.wish-compare ul li {
    float: left;
    width: 48%;
}

.wish-compare ul li a.compare-prdct {
    background: url(../images/prdct-cmpr.png) no-repeat center center;
}

.wish-compare ul li a {
    display: block;
    height: 36px;
    width: 100%;
}

.wish-compare ul li a.wish-prdct.active {
    background: url(../images/white-wish.png) no-repeat center center;
}

.prdct-rates {
    display: inline-block;
    margin: 5px 0 0 0;
    width: 100%;
}
.prdct-rates p{
    margin-bottom: 5px;
}
.prdct-rates p a{
    font: 500 15px/1.8em 'Raleway', sans-serif;
    color: #363535;    
}

.currentPrice{
    font-size: 16px; 
    font-weight: 600;
    color: #12131d;
}
.old-price {
    text-decoration: line-through;
    font-size: 13px!important;
    color: #adafbc;
    margin-left: 10px;
}

.offerCircle {
    background: #ff7f27 !important;
    display:block !important;
    color: #fff !important;
    font-size: 12px !important;
    font-weight: 600 !important;
    padding: 0px 10px !important;
    border-radius: 10px !important;
    margin-right: 12px;
    float: right;
}

@media (max-width:576px) {
   .prdct.prdct-list {
        max-width: 380px;
    }
}