
@import url('https://fonts.googleapis.com/css?family=Barlow+Condensed:400,500,600,700');

/*------PRDUCT DETAIL PAGE----------*/
.product-detail-page{
    margin-top: 127px;
}

.owl-carousel .owl-stage-outer {
    position: relative;
    overflow: hidden;
    -webkit-transform: translate3d(0px, 0px, 0px);
    -moz-transform: translate3d(0px, 0px, 0px);
    transform: translate3d(0px, 0px, 0px);
}
.nwArival {
    background: #fff;
    padding:26px 20px;
}

.nwArival .page-title+hr{
    top: 24px;
}

.conainerSection.prdct-detail-page{
    box-shadow: 0px 9px 14px 2px rgba(51,51,51,0.3);
    margin-top: -7px;
}
.product-detail-sec {
    padding: 25px 0 25px 15px;
    background: #fff;
}
.imagesTab {
    float: left;
    width:62px;
}

.imagesTab a {
    display: inline-block;
    width: 100%;
    border: solid 1px #cdcfd9;
    margin: 0px 0px 10px 0px;
    background: #cdcfd9;
    border:solid 1px transparent;
    overflow: hidden;
}

.imagesTab a img{
    max-width: 100%;
}

.imagesTab a:hover{
    border:solid 1px #8f0503;
}

.imageContent {
    padding-left: 20px;
    max-height: 588px;
    overflow: hidden;
}

.imageContent img {
    cursor: -moz-zoom-in;
    cursor: zoom-in;
    max-width: 100%;
}

#galleryPopup .popupClose {
    background: #fff;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    position: absolute;
    right: -12px;
    top: -16px;
    display: inline-block;
    color: #333;
    text-align: center;
    line-height: 30px;
    z-index: 1;
    cursor: pointer;
}

#galleryPopup .modal-body {
    position: relative;
    padding: 0px !important;
}
.largeImage img{
    max-width: 100%;
}
.lightBoxContr span.prev {
    transform: rotate(180deg);
}

.lightBoxContr span.next {
    left: inherit;
    right: 0px;
}

.lightBoxContr span {
    position: absolute;
    top: 50%;
    left: 0px;
    width: 39px;
    height: 43px;
    display: inline-block;
    color: #000;
    cursor: pointer;
    font-size: 0px;
    background: url(../images/arvl-arw-right.png) no-repeat 8px 6px;
    margin-top: -15px;
}

#galleryPopup .modal-dialog {
    width:284px;
}

.prdct-detail {
    padding: 0 5%;
    position: relative;
    float: left;
    width: 100%;
    position: relative;
}


.prdct-name {
    font: 700 18px/1em 'Raleway', sans-serif;
    color: #2d3749;
    max-width: 475px;
    float: left;
    padding-bottom: 0px;
}

.prdct-name a.wish span{
    background: url(../images/wishcmpr.png) no-repeat top left;
    height: 25px;
    width: 33px;
    display: inline-block;
}

.prdct-name .prdctCode{
    font-size: 14px;
    color: #5b6a7c;
    line-height: 2.8em;
    font-weight: 600;
}


.price-box {
    display: block;
    float: left;
    clear: both;
    max-width: 422px;
    margin-top: 15px;
}
.priceChart .offerCircle{
    margin-left:10px;
}
.priceChart .currentPrice,
.priceChart .old-price{
    font-family: 'Barlow Condensed', sans-serif;
}
.price-box .priceChart .currentPrice{
    font-weight: 500;
    font-size: 24px;
}
.price-box .priceChart .old-price{
    font-size: 16px !important;
    font-weight: 400;
    line-height: 2em;
}

.priceChart .offerCircle,
.priceChart .currentPrice,
.priceChart .old-price {
    float: left;
}

.price-box .priceChart .offerCircle{
    margin-top:7px;
}

.size-chart {display: inline-block; width: 100%; margin: 22px 0 8px;}
.price-box h5 {
    font-size: 14px;
    color: #2d3749;
    margin-bottom: 8px;
    font-weight: 500;
    font-family: 'Raleway', sans-serif;
}
.size-chart li {position: relative; max-width: 250px; margin: 0px 0px 5px 0px; font-size: 18px;display: inline-block;}
.size-chart .radiobLable {display: block; cursor: pointer; font-weight: normal;text-align: center; width:45px; height: 36px;color:#909096;padding-top: 5px;margin-right: 10px;    font-size: 17px;}
.size-chart .radio {opacity: 0;display: inline-block; position: absolute;}
.size-chart .radiobLable span {font-weight: bold;}
.size-chart input[type=radio] ~ label:after {
    display: inline-block;
    position: absolute;
    height: 36px;
    width: 45px;
    top: 0px;
    left: 0px;
    border: solid 1px #cdcfd9;
    content: "";
}

.size-chart input[type=radio]:checked ~ label:after {
    background:rgba(0,0,0,0.4);   
    border:solid  1px #b50808;
}
.size-chart input[type=radio]:checked ~ .radiobLable{
    color:#2d3749;
}

.price-box .qntity {
    clear: both;
    margin-top: 17px;
}

div[class^="qutBox-"] {
    display: inline-block;
    vertical-align: middle;
}

.price-box div[class^="qutBox-"] {
    float: left;
}

div[class^="qutBox-"] .minus, div[class^="qutBox-"] .plus {
    display: inline-block;
    width: 30px;
    height: 28px;
    position: relative;
    vertical-align: top;
    cursor: pointer;
    background: #5b6a7c;
}

div[class^="qutBox-"] .minus {
    border-right: solid 1px #ccc;
}

div[class^="qutBox-"] .minus:before, div[class^="qutBox-"] .plus:before {
    font-size: 20px;
    position: absolute;
    left: 10px;
    top: -1px;
    color: #fff;
    font-weight: 600;
    content: "\002b";
}

div[class^="qutBox-"] .minus:before {
    content: "\2212";
}
div[class^="qutBox-"] .qutInput {
    display: inline-block;
    width: 30px;
    height: 28px;
    vertical-align: top;
}

div[class^="qutBox-"] .qutInput input {
    background: none;
    border: none;
    line-height: 35px;
    height: 29px;
    text-align: center;
    padding: 0px 10px 0 5px;
    display: inline-block;
    width: 35px;
}

div[class^="qutBox-"] .plus {
    border-left: solid 1px #ccc;
}

.chk-avlblty{
    margin-top:30px;
}

.chk-avlblty, .chk-avlblty .pin-search {
    clear: both;
    float: left;
    position: relative;
}

.chk-avlblty .pin-search input[type="text"] {
    border: solid 1px #cdcfd9;
    color: #5a6a7c;
    font: 400 14px/23px  'Raleway', sans-serif;
    padding: 5px;
    width: 270px;
    outline: none;
}

.chk-avlblty .pin-search input[type="submit"] {
    position: absolute;
    background: #5a6a7c;
    color: #fff;
    width: 70px;
    height: 35px;
    text-transform: uppercase;
    text-align: center;
    padding: 8px 0;
    font-size: 14px;
    border: none;
    top: 0;
    right: 0;
}

.astimate-dlvry {
    color: #8491a0;
    font-size: 14px;
    margin-top: 8px;
    clear: both;
    float: left;
}

.shipping-info{
    clear: both;
    float: left;
    width: 100%;
    text-align: left;
    line-height: 20px;
}

.buy-cart {
    clear: both;
    float: left;
    width: 100%;
    margin-top: 24px;
}

.buy-cart a{
    display: block;
    float: left;
    font-weight: 700;
    width:180px;
    border-radius: 2px;
    margin-right: 12px;
    transition: all 0.8s linear;
    padding: 14px 15px;
    text-align: center;
    color: #fff;
}
.buy-cart a.add-cart{
    background: #5b6a7c;
}
.buy-cart a.buy-now{
    background: #b50808;
}
.buy-cart a:hover{
    color: #fff;
}

.buy-cart a.red-btn:hover{
    background: #333;
}
.buy-cart a.blue-btn:hover{
    background: #333;
}
.buy-cart a.black-btn:hover{
    background: #ef2525;
}


.des-box {
    display: block;
    padding: 15px 0;
    background: #fff;
    margin: 25px 0;
}
.des-box ul.proList {
    display: block;
    width: 100%;
    border-bottom: solid 1px #ddd;
}

.des-box ul.proList li{
    display: inline-block;
    font-size: 14px;
    color: #5b6a7c;
    padding: 22px;
    font-weight: 600;
}

.des-box ul.proList li.active,
.des-box ul.proList li:hover{
    color: #b50808;
    border-bottom: solid 2px #b50808;
}

.tabContainer {
    display: block;
    clear: both;
    width: 100%;
    padding: 15px 20px;
}

.tabContainer h3{
    font-size: 20px;
    }



@media (max-width:1024px){
.buy-cart a{
    margin-bottom: 10px;
    }
}

@media (max-width:991px){
    .prdct-detail {
        margin-top:25px;
    }
}

@media (max-width: 767px){
.proList li {max-width: 90px; margin: 0px; vertical-align: bottom; text-align: center; }
    .proList li span {padding: 10px 5px;font-size: 12px;}

.des-box {
    padding: 15px 0;
}

.proList li {
    max-width: 96px;
    }

 .prdct-detail {
    margin-top: 25px;
 }   

}

