<footer class="wrapper">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="ftrAppBox">
                    <p>Download ChefDiner app</p>
                    <a href="">
                        <img src="images/ftrappstore.png" alt="">
                    </a>
                    <a href="">
                        <img src="images/ftrplaystore.png" alt="">
                    </a>
                </div>
            </div>
            <div class="col-md-4">
                <div class="ftrLogo text-center">
                    <a href="">
                        <img src="images/ftrlogo.png" alt="">
                    </a>
                </div>
            </div>
            <div class="col-md-4">
                <div class="ftrSocial">
                    <a href=""><img src="images/fb.png" alt></a>
                    <a href=""><img src="images/twt.png" alt></a>
                    <a href=""><img src="images/in.png" alt></a>
                    <a href=""><img src="images/pint.png" alt></a>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="container">
                <div class="col-lg-12 col-md-12">
                    <div class="ftrLink">
                        <ul>
                            <li><a href="">Privacy policy </a></li>
                            <li><a href=""> Terms and Conditions   </a></li>
                            <li><a href="">How it works?  </a></li>
                            <li><a href="">Help</a></li>
                            <li><a href="">Contacts </a></li>
                            <li><a href="">Jobs</a></li>
                            <li><a href="">Subscribe</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
<div class="wrapper copyright">
    <div class="text-center">
        <p>
           © 2017 ChefDiner. All rights reserved.
        </p>
    </div>
</div>
<script src="js/jquery.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/jquery.flagstrap.min.js"></script>
<script type="text/javascript">
    $(window).scroll(function() {    
       var scroll = $(window).scrollTop();
       if (scroll >= 40) {
           $("body").addClass("smaller");
       } else {
           $("body").removeClass("smaller");
       }
   });
</script>

<script>
    jQuery(document).ready(function () {
        jQuery('#select_country').attr('data-selected-country','HKD');
        jQuery('#select_country').flagStrap();
    });
</script>
<script type="text/javascript">
    /*LOGIN - REGISTER TAB*/
    $('.modal-toggle').click(function (e) {
        var tab = $(this).attr('data-tab');
        $(".tabContent .tab-pane").hide();
        $(".tabContent").find(tab).show();
        $(".tabNav li a").removeClass('active');
        $('.tabNav li a[href="'+tab+'"]').addClass('active');
    });

    $(".tabNav li a").click(function(){
        var tab = $(this).attr('data-id');
        $(".tabContent .tab-pane").hide();
        $(".tabContent").find(tab).show();
        $(".tabNav li a").removeClass('active');
        $(this).addClass('active');
    });

    /*--------SIGNUP FORM------*/
    $(".rgform").hide();
    $(".signUpemail").click(function() {
        $('.rgform').show('show');
        $(".signUpemail").addClass("disable");
    });

    /*------LANGUAGE SELECT----------*/

    $('.lang_selected').click(function() {
        $('.lang_values').toggle();
    });

    $('.lang_item').click(function() {
     var value = $(this).text();

    $('.lang_selected').attr('data-value', value);
        $('.lang_selected').html(value);
        $('.lang_values').toggle();
    });
    /*--------SIGNUP FORM------*/
   $(".accDropDown a").click(function() {
        $('.AccNav').toggle();
        
    });
    
</script>
