<header class="header wrapper">
	<div class="container">
		<div class="row logoRow">
			<div class="col-lg-4 col-md-4 col-sm-5 col-4">
				<div class="tpLeft">
					<div class="lang float-left">
						<div class="lang_selected" data-value="">English</div>
						<div class="lang_values">
						  <div class="lang_item" data-value="english">Engdivsh</div>
						  <div class="lang_item" data-value="chinese">Chinese</div>
						  <div class="lang_item" data-value="tChinese">T.Chinese</div>
						  <div class="lang_item" data-value="sChinese">S.Chinese</div>
						</div>
					</div>
					<div class="currency float-left">
						<form class="form-horizontal ">
							<div class="form-group">
								<div class="flagstrap" id="select_country" data-input-name="NewBuyer_country" data-selected-country=""></div>
							</div>
						</form>
					</div>
				</div>
			</div>
			<div class="col-lg-4 col-md-4 col-sm-3 col-5">
				<div class="logo">
					<a href="">
						<img class="txt-center" src="images/logo.png" alt="">
					</a>
				</div>
			</div>
			<div class="col-lg-4 col-md-4 col-sm-4 col-3">
				<div class="tpRight">
					<div class="usersign afterLogin">
						<ul class="">
							<li class="accDropDown">
								<a class="signup " href="javascript:;"><span>Kuldeep Yadav</span></a>
								<ul class="AccNav">
									<li><a href="">Edit Profile</a></li>
									<li><a href="">Account Settings</a></li>
									<li><a href="">My kitchen</a></li>
									<li><a href="">Edit my kitchen</a></li>
									<li><a href="">Wish List</a></li>
									<li><a href="">Dining credits</a></li>
									<li><a href="">Log Out</a></li>
								</ul>
							</li>
							<li><a class="message" href="javascript:;"><span>Message</span></a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>	
	</div>
</header>





